In [1]:
data = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data"
res = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/results"

In [2]:
import pandas as pd
import os

## Medication Patient Data

## Filter Meds

### Med 1

In [54]:
med1 = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med1_vectorized.csv"))

In [55]:
med1 = med1.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.2", "ROW_ID_x", "BeforeMeanStd"])

In [56]:
med1

,SUBJECT_ID,ITEMID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,ROW_ID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit
0,29495,225828,182822,252299.0,2126-01-22 21:51:00,2126-01-22 21:52:00,1000.000000,ml,NaN,NaN,...,14005,LR,LR,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
1,73363,225943,174481,288413.0,2144-01-31 12:21:00,2144-01-31 14:01:00,64.516127,ml,38.709676,mL/hour,...,14375,Solution,Solution,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
2,47216,225158,167377,246025.0,2155-08-01 11:26:00,2155-08-01 11:27:00,1500.000000,ml,NaN,NaN,...,13758,NaCl 0.9%,NaCl 0.9%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
3,48348,226372,186981,274006.0,2177-11-28 12:00:00,2177-11-28 12:01:00,250.000000,ml,NaN,NaN,...,14457,OR Cell Saver Intake,OR Cell Saver Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,0 days 00:01:00
4,48348,226364,186981,274006.0,2177-11-28 12:00:00,2177-11-28 12:01:00,2700.000000,ml,NaN,NaN,...,14450,OR Crystalloid Intake,OR Crystalloid Intake,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323002,93321,225917,115396,248745.0,2128-09-11 21:46:00,2128-09-12 13:47:00,2500.000081,ml,156.087414,mL/hour,...,14355,TPN without Lipids,TPN without Lipids,metavision,inputevents_mv,Nutrition - Parenteral,mL,Solution,NaN,171 days 14:46:00
323003,93321,226453,115396,248745.0,2128-09-12 21:22:00,2128-09-12 21:23:00,60.000000,ml,NaN,NaN,...,14472,GT Flush,GT Flush,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,171 days 22:22:00
323004,93321,225797,115396,248745.0,2128-09-14 17:58:00,2128-09-14 17:59:00,100.000000,ml,NaN,NaN,...,13981,Free Water,Free Water,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,173 days 18:58:00
323005,93321,225930,115396,248745.0,2128-09-14 15:33:00,2128-09-14 18:43:00,31.666667,ml,10.000000,mL/hour,...,14367,Peptamen 1.5 (Full),Peptamen 1.5 (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,173 days 19:42:00
323006,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,12979,Furosemide (Lasix),Furosemide (Lasix),metavision,inputevents_mv,Medications,mg,Solution,NaN,175 days 15:06:00

### Med 2

In [6]:
med2 = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med2_vectorized.csv"))

In [7]:
med2 = med2.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.2", "ROW_ID_x"])

## Filter Labs

In [8]:
labs = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "labs_vectorized.csv"))
labs = labs.rename(columns={"SUBJECT_ID_x":"SUBJECT_ID"})

In [9]:
labs = labs.drop(columns=["Unnamed: 0"])
labs

,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,...,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,LabTimeFromAdmit
0,21075805,48882,103146.0,50813,2114-04-23 18:17:00,2.50,2.50,mmol/L,abnormal,14,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,AORTIC STENOSIS,1,1,0 days 00:01:00
1,27458475,96686,189846.0,51077,2115-04-11 18:50:00,2.90,2.90,mg/dL,NaN,277,...,ENGL,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2115-04-11 12:29:00,2115-04-11 20:40:00,ACUTE RENAL FAILURE,0,1,0 days 00:01:00
2,27458479,96686,189846.0,51097,2115-04-11 18:50:00,25.00,25.00,mEq/L,NaN,297,...,ENGL,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2115-04-11 12:29:00,2115-04-11 20:40:00,ACUTE RENAL FAILURE,0,1,0 days 00:01:00
3,20690955,46007,178313.0,50893,2138-05-11 14:30:00,7.60,7.60,mg/dL,abnormal,94,...,ENGL,NOT SPECIFIED,MARRIED,WHITE,2138-05-11 11:41:00,2138-05-11 15:28:00,MULITPLE RIB FRACTURES,0,1,0 days 00:01:00
4,26566842,89929,118735.0,50820,2169-02-09 16:24:00,7.32,7.32,units,abnormal,21,...,ENGL,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,2169-02-09 15:00:00,2169-02-09 18:11:00,OVERDOSE ON DEPAKOTE,0,1,0 days 00:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7260280,27017123,93321,115396.0,50813,2128-10-17 05:33:00,5.40,5.40,mmol/L,abnormal,14,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
7260281,27017124,93321,115396.0,50818,2128-10-17 05:33:00,38.00,38.00,mm Hg,NaN,19,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
7260282,27017126,93321,115396.0,50821,2128-10-17 05:33:00,117.00,117.00,mm Hg,abnormal,22,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
7260283,27017122,93321,115396.0,50804,2128-10-17 05:33:00,13.00,13.00,mEq/L,abnormal,5,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
7260284,27017125,93321,115396.0,50820,2128-10-17 05:33:00,7.11,7.11,units,abnormal,21,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00

## Pairs

In [57]:
counts = med1.groupby("ITEMID").count()[["HADM_ID"]].sort_values("HADM_ID", ascending=False)
counts[counts["HADM_ID"]>1000]

        HADM_ID
ITEMID
225158    15866
220949    13849
226452    13351
225943    11183
222011     9274
...         ...
225883     1149
225833     1045
228315     1044
225153     1003
221468     1003

[67 rows x 1 columns]

In [58]:
med1["STARTTIME"] = pd.to_datetime(med1["STARTTIME"])
med1["ENDTIME"] = pd.to_datetime(med1["ENDTIME"])
med1["ADMITTIME"] = pd.to_datetime(med1["ADMITTIME"])
med1["MedTimeFromAdmit"] = med1["ENDTIME"]-med1["ADMITTIME"]
med2["STARTTIME"] = pd.to_datetime(med2["STARTTIME"])
med2["ENDTIME"] = pd.to_datetime(med2["ENDTIME"])
med2["ADMITTIME"] = pd.to_datetime(med2["ADMITTIME"])
med2["MedTimeFromAdmit"] = med2["ENDTIME"]-med2["ADMITTIME"]
labs["CHARTTIME"] = pd.to_datetime(labs["CHARTTIME"])
labs["ADMITTIME"] = pd.to_datetime(labs["ADMITTIME"])
labs["LabTimeFromAdmit"] = labs["CHARTTIME"]-labs["ADMITTIME"]

In [59]:
med1["hours_in"] = med1["MedTimeFromAdmit"].dt.total_seconds()/3600
labs["hours_in"] = labs["LabTimeFromAdmit"].dt.total_seconds()/3600

## Before After Trend Calculation

In [12]:
from scipy.stats import pearsonr, spearmanr

def check_med2(row):
    if row["HADM_ID"] in med2["HADM_ID"].to_list():
        if row["ITEMID"] in med2[med2["HADM_ID"]==row["HADM_ID"]]["ITEMID"].to_list():
            return True
    return False

def get_med2(row):
    temp = med2[med2["HADM_ID"]==row["HADM_ID"]] 
    return temp[temp["ITEMID"]==row["ITEMID"]].iloc[0]

In [64]:
def get_std_trends(r):

    row = r.copy()
    
    lab_vals = labs[labs["HADM_ID"]==row["HADM_ID"]]
    lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<row["MedTimeFromAdmit"].total_seconds()]
    t = lab_vals.groupby(["ITEMID"]).count()[["SUBJECT_ID"]]
    val_counts = t[t["SUBJECT_ID"]>=2]
    if val_counts.shape[0]==0:
        row["before_trends"] = {}
        row["before_std"] = {}
    else:
        lab_vals = lab_vals[lab_vals.ITEMID.isin(val_counts.index)]        
        row["before_trends"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].corr()["VALUENUM"].loc[:,"hours_in"].dropna().to_dict()
        row["before_std"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].std()["VALUENUM"].dropna().to_dict()
        
    lab_vals = labs[labs["HADM_ID"]==row["HADM_ID"]]
    med2_bool = check_med2(row)
    lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()>row["MedTimeFromAdmit"].total_seconds()]
    if med2_bool:
        med2_val = get_med2(row)
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<med2_val["MedTimeFromAdmit"].total_seconds()]
    t = lab_vals.groupby(["ITEMID"]).count()[["SUBJECT_ID"]]
    val_counts = t[t["SUBJECT_ID"]>=2]
    if val_counts.shape[0]==0:
        row["after_trends"] = {}
        row["after_std"] = {}
    else:
        lab_vals = lab_vals[lab_vals.ITEMID.isin(val_counts.index)]   
        row["after_trends"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].corr()["VALUENUM"].loc[:,"hours_in"].dropna().to_dict()
        row["after_std"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].std()["VALUENUM"].dropna().to_dict()
    return row

In [50]:
temp = med1.iloc[2323:2400].copy()
temp.apply(lambda r : get_std_trends(r), axis=1)

,SUBJECT_ID,ITEMID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit,hours_in,before_trends,before_std,after_trends,after_std
2323,81274,225943,158350,256856.0,2118-02-08 11:30:00,2118-02-08 12:39:00,31.221720,ml,27.149321,mL/hour,...,Fluids/Intake,mL,Solution,NaN,0 days 00:54:00,0.900000,{},{},{},{}
2324,89180,225910,186161,251640.0,2128-11-19 17:37:00,2128-11-19 17:38:00,1.000000,dose,NaN,NaN,...,Medications,dose,Solution,NaN,0 days 00:54:00,0.900000,{},{},"{50964: -0.987962582821871, 50983: -0.79525551...","{50964: 7.937253933193765, 50983: 3.1622776601..."
2325,90441,225166,164533,217548.0,2192-12-09 17:36:00,2192-12-09 17:37:00,0.333333,mEq,NaN,NaN,...,Medications,mEq,Solution,NaN,0 days 00:54:00,0.900000,{},{},{},{}
2326,57645,220949,116647,250395.0,2122-05-25 15:45:00,2122-05-25 16:30:00,2.531503,ml,3.375338,mL/hour,...,Fluids/Intake,mL,Solution,NaN,0 days 00:54:00,0.900000,{},{},{},{}
2327,61316,227689,127975,229260.0,2176-06-01 05:08:00,2176-06-01 05:09:00,0.000000,mg,NaN,NaN,...,Medications,mg,Solution,NaN,0 days 00:55:00,0.916667,{},{},{},{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,70505,225158,148384,203626.0,2187-09-25 17:00:00,2187-09-25 17:21:00,2.232143,ml,6.377551,mL/hour,...,Fluids/Intake,mL,Solution,NaN,0 days 00:56:00,0.933333,{},{},{},{}
2396,73770,225828,113704,245977.0,2146-06-04 18:00:00,2146-06-04 18:01:00,1000.000000,ml,NaN,NaN,...,Fluids/Intake,mL,Solution,NaN,0 days 00:56:00,0.933333,{},{},"{50802: 0.3445683210512471, 50804: -0.96906547...","{50802: 0.5, 50804: 1.732050807568877, 50806: ..."
2397,44823,225153,177612,217372.0,2152-02-27 16:42:00,2152-02-27 16:43:00,10.000001,mg,NaN,NaN,...,Medications,mg,Solution,NaN,0 days 00:56:00,0.933333,{},{},{},{}
2398,53868,220949,198187,291814.0,2170-09-10 17:00:00,2170-09-10 17:01:00,100.000000,ml,NaN,NaN,...,Fluids/Intake,mL,Solution,NaN,0 days 00:56:00,0.933333,{},{},{},{}
2399,26875,225943,194463,227305.0,2189-05-23 10:09:00,2189-05-23 10:14:00,0.938086,ml,11.257036,mL/hour,...,Fluids/Intake,mL,Solution,NaN,0 days 00:56:00,0.933333,{},{},{},{}

In [68]:
temp = med1.copy()
temp = temp.apply(lambda r : get_std_trends(r), axis=1)
cols = ["before_std", "after_std", "before_trends", "after_trends"]
col_vals = []
for col in cols:
    col_vals.append(
        temp.assign(dict=temp[col].map(lambda d: d.items())).explode("dict", ignore_index=True).assign(
            LAB_ITEMID=lambda df: df.dict.str.get(0),
            temp=lambda df: df.dict.str.get(1)
        ).drop(columns=["dict", col]).rename(columns={"temp":f"{col}_sp"})
    )
for i in range(1, len(col_vals)):
    col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="inner", on=list(med1.columns)+["LAB_ITEMID"]).dropna(subset=[f"{cols[i-1]}_sp", f"{cols[i]}_sp"])
final = col_vals[-1][list(med1.columns)+cols+["LAB_ITEMID"]+[f"{col}_sp" for col in cols]]

In [69]:
final

,SUBJECT_ID,ITEMID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,hours_in,before_std,after_std,before_trends,after_trends,LAB_ITEMID,before_std_sp,after_std_sp,before_trends_sp,after_trends_sp
0,80778,226361,178404,253009.0,2140-05-11 19:45:00,2140-05-11 19:46:00,1000.000000,ml,NaN,NaN,...,0.283333,"{50813: 0.07071067811865497, 50817: 7.07106781...","{50801: 141.4213562373095, 50802: 4.1719785959...","{50813: -0.9999999999999978, 50817: -1.0, 5082...","{50801: 1.0000000000000002, 50802: 0.512507684...",50813.0,0.070711,1.236878,-1.000000,-0.778660
1,80778,226361,178404,253009.0,2140-05-11 19:45:00,2140-05-11 19:46:00,1000.000000,ml,NaN,NaN,...,0.283333,"{50813: 0.07071067811865497, 50817: 7.07106781...","{50801: 141.4213562373095, 50802: 4.1719785959...","{50813: -0.9999999999999978, 50817: -1.0, 5082...","{50801: 1.0000000000000002, 50802: 0.512507684...",50817.0,7.071068,7.985723,-1.000000,-0.559878
2,80778,226361,178404,253009.0,2140-05-11 19:45:00,2140-05-11 19:46:00,1000.000000,ml,NaN,NaN,...,0.283333,"{50813: 0.07071067811865497, 50817: 7.07106781...","{50801: 141.4213562373095, 50802: 4.1719785959...","{50813: -0.9999999999999978, 50817: -1.0, 5082...","{50801: 1.0000000000000002, 50802: 0.512507684...",50820.0,0.021213,0.111991,-1.000000,0.787641
3,53149,225154,140593,297609.0,2131-03-21 13:15:00,2131-03-21 13:16:00,1.000000,mg,NaN,NaN,...,0.350000,"{50813: 0.2828427124746191, 50820: 0.042426406...","{50802: 4.956957592256421, 50804: 6.2507142449...","{50813: -0.9999999999999996, 50820: 0.99999999...","{50802: 0.9328534335128024, 50804: 0.993803622...",50813.0,0.282843,0.287374,-1.000000,-0.245660
4,53149,225154,140593,297609.0,2131-03-21 13:15:00,2131-03-21 13:16:00,1.000000,mg,NaN,NaN,...,0.350000,"{50813: 0.2828427124746191, 50820: 0.042426406...","{50802: 4.956957592256421, 50804: 6.2507142449...","{50813: -0.9999999999999996, 50820: 0.99999999...","{50802: 0.9328534335128024, 50804: 0.993803622...",50820.0,0.042426,0.066117,1.000000,0.511292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970253,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51301.0,9.307183,2.119624,-0.264476,0.123652
1970254,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51491.0,0.535806,0.288675,0.134359,0.233143
1970255,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51493.0,1.169045,5.656854,0.174878,1.000000
1970256,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51498.0,0.005744,0.002646,-0.030079,0.582469
1970257,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51516.0,5.625198,1.527525,0.077839,0.998979

In [70]:
final.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_all_stats_with_trends_05112022.csv"))

In [3]:
final = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_all_stats_with_trends_05112022.csv"))

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_63945/804243635.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  final = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_all_stats_with_trends_05112022.csv"))

In [4]:
final = final.rename(columns={"before_trends_sp":"LabBeforeTrends", "before_std_sp":"BeforeStd", "after_trends_sp":"LabAfterTrends", "after_std_sp":"AfterStd"}).drop(columns=["Unnamed: 0"])

In [5]:
final

,SUBJECT_ID,ITEMID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,hours_in,before_std,after_std,before_trends,after_trends,LAB_ITEMID,BeforeStd,AfterStd,LabBeforeTrends,LabAfterTrends
0,80778,226361,178404,253009.0,2140-05-11 19:45:00,2140-05-11 19:46:00,1000.000000,ml,NaN,NaN,...,0.283333,"{50813: 0.07071067811865497, 50817: 7.07106781...","{50801: 141.4213562373095, 50802: 4.1719785959...","{50813: -0.9999999999999978, 50817: -1.0, 5082...","{50801: 1.0000000000000002, 50802: 0.512507684...",50813.0,0.070711,1.236878,-1.000000,-0.778660
1,80778,226361,178404,253009.0,2140-05-11 19:45:00,2140-05-11 19:46:00,1000.000000,ml,NaN,NaN,...,0.283333,"{50813: 0.07071067811865497, 50817: 7.07106781...","{50801: 141.4213562373095, 50802: 4.1719785959...","{50813: -0.9999999999999978, 50817: -1.0, 5082...","{50801: 1.0000000000000002, 50802: 0.512507684...",50817.0,7.071068,7.985723,-1.000000,-0.559878
2,80778,226361,178404,253009.0,2140-05-11 19:45:00,2140-05-11 19:46:00,1000.000000,ml,NaN,NaN,...,0.283333,"{50813: 0.07071067811865497, 50817: 7.07106781...","{50801: 141.4213562373095, 50802: 4.1719785959...","{50813: -0.9999999999999978, 50817: -1.0, 5082...","{50801: 1.0000000000000002, 50802: 0.512507684...",50820.0,0.021213,0.111991,-1.000000,0.787641
3,53149,225154,140593,297609.0,2131-03-21 13:15:00,2131-03-21 13:16:00,1.000000,mg,NaN,NaN,...,0.350000,"{50813: 0.2828427124746191, 50820: 0.042426406...","{50802: 4.956957592256421, 50804: 6.2507142449...","{50813: -0.9999999999999996, 50820: 0.99999999...","{50802: 0.9328534335128024, 50804: 0.993803622...",50813.0,0.282843,0.287374,-1.000000,-0.245660
4,53149,225154,140593,297609.0,2131-03-21 13:15:00,2131-03-21 13:16:00,1.000000,mg,NaN,NaN,...,0.350000,"{50813: 0.2828427124746191, 50820: 0.042426406...","{50802: 4.956957592256421, 50804: 6.2507142449...","{50813: -0.9999999999999996, 50820: 0.99999999...","{50802: 0.9328534335128024, 50804: 0.993803622...",50820.0,0.042426,0.066117,1.000000,0.511292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970253,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51301.0,9.307183,2.119624,-0.264476,0.123652
1970254,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51491.0,0.535806,0.288675,0.134359,0.233143
1970255,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51493.0,1.169045,5.656854,0.174878,1.000000
1970256,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51498.0,0.005744,0.002646,-0.030079,0.582469
1970257,93321,221794,115396,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,NaN,...,4215.100000,"{50802: 2.3487195482823218, 50804: 3.173551413...","{50801: 58.80192740605249, 50802: 2.4642904197...","{50802: 0.5413442271787862, 50804: 0.925665164...","{50801: -0.9090013480000129, 50802: -0.8751044...",51516.0,5.625198,1.527525,0.077839,0.998979

### Pvals - Hard Threshold

In [6]:
from scipy import stats
med_lab_all = final.copy()
pvals = []
ttest = []
counts = med_lab_all.groupby(["ITEMID", "LAB_ITEMID"]).count()["SUBJECT_ID"]
res_out = pd.DataFrame(counts)
res_out = res_out[res_out["SUBJECT_ID"]>100]

In [7]:
for i in res_out.index:
    med = i[0]
    lab = i[1]
    k_med = med_lab_all[med_lab_all["ITEMID"]==med]
    k_med = k_med[k_med["LAB_ITEMID"]==lab]
    pvals.append(stats.mannwhitneyu(k_med["LabBeforeTrends"], k_med["LabAfterTrends"])[1])
    ttest.append(stats.ttest_ind(k_med["LabBeforeTrends"], k_med["LabAfterTrends"])[1])
res_out["MannwhitneyuTest"] = pvals
res_out["TTest"] = ttest

In [ ]:
res_out

In [8]:
res_out.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_pvals_with_trends_05112022.csv"))

In [8]:
res_out[res_out["MannwhitneyuTest"]<=0.05]

                   SUBJECT_ID  MannwhitneyuTest         TTest
ITEMID LAB_ITEMID
220862 50813.0            207      2.518857e-03  3.305889e-02
       50818.0            308      1.245621e-03  1.242324e-03
       50821.0            319      3.380012e-05  6.215615e-06
       50822.0            120      1.360195e-02  1.182755e-02
       50863.0            135      1.918318e-05  1.517674e-06
...                       ...               ...           ...
228315 51250.0            228      6.836191e-03  5.505907e-03
       51265.0            267      2.021063e-18  3.992535e-22
       51277.0            242      8.722667e-06  1.606527e-05
       51279.0            266      2.427926e-04  1.289724e-04
       51301.0            263      3.157183e-06  6.732417e-07

[1946 rows x 3 columns]

### pvals - Bonferroni Analysis

In [3]:
res_out = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_pvals_with_trends_05112022.csv"))

In [4]:
res_out.shape

(3247, 5)

In [5]:
from statsmodels.stats.multitest import multipletests

bonferroni_analysis = multipletests(res_out["MannwhitneyuTest"], alpha=0.01, method='bonferroni')
reject, pvals_corrected, _, alphacBonf = bonferroni_analysis

In [6]:
res_analysis = pd.Series(pvals_corrected)
significant = res_analysis[reject]

In [7]:
significant

18      2.950160e-03
25      4.066350e-11
26      1.885436e-04
29      3.089161e-10
30      2.012599e-06
            ...
3212    1.091701e-05
3216    7.852507e-05
3227    6.567009e-06
3239    1.800016e-03
3241    6.562393e-15
Length: 859, dtype: float64

In [8]:
res_out

      ITEMID  LAB_ITEMID  SUBJECT_ID  MannwhitneyuTest         TTest
0     220862     50802.0         290          0.346783  7.652955e-01
1     220862     50804.0         299          0.718489  9.722565e-01
2     220862     50808.0         240          0.722052  8.574275e-01
3     220862     50809.0         140          0.328774  1.294115e-01
4     220862     50813.0         207          0.002519  3.305889e-02
...      ...         ...         ...               ...           ...
3242  228315     51274.0         142          0.280371  3.326322e-01
3243  228315     51275.0         132          0.081490  6.334181e-02
3244  228315     51277.0         242          0.000009  1.606527e-05
3245  228315     51279.0         266          0.000243  1.289724e-04
3246  228315     51301.0         263          0.000003  6.732417e-07

[3247 rows x 5 columns]

In [9]:
res_out["BonferroniPvals"] = res_analysis

In [10]:
res_out

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals
0,220862,50802.0,290,0.346783,7.652955e-01,1.000000
1,220862,50804.0,299,0.718489,9.722565e-01,1.000000
2,220862,50808.0,240,0.722052,8.574275e-01,1.000000
3,220862,50809.0,140,0.328774,1.294115e-01,1.000000
4,220862,50813.0,207,0.002519,3.305889e-02,1.000000
...,...,...,...,...,...,...
3242,228315,51274.0,142,0.280371,3.326322e-01,1.000000
3243,228315,51275.0,132,0.081490,6.334181e-02,1.000000
3244,228315,51277.0,242,0.000009,1.606527e-05,0.028322
3245,228315,51279.0,266,0.000243,1.289724e-04,0.788347
3246,228315,51301.0,263,0.000003,6.732417e-07,0.010251

In [11]:
significant_df = res_out[reject]

In [12]:
significant_df

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals
18,220862,50912.0,380,9.085802e-07,4.772828e-07,2.950160e-03
25,220862,51221.0,435,1.252341e-14,1.163620e-15,4.066350e-11
26,220862,51222.0,390,5.806700e-08,6.744057e-08,1.885436e-04
29,220862,51249.0,388,9.513892e-14,8.872544e-15,3.089161e-10
30,220862,51250.0,358,6.198333e-10,3.994710e-10,2.012599e-06
...,...,...,...,...,...,...
3212,227694,51265.0,414,3.362183e-09,6.233458e-12,1.091701e-05
3216,227694,51279.0,409,2.418388e-08,1.017727e-08,7.852507e-05
3227,228315,50902.0,284,2.022485e-09,1.405137e-12,6.567009e-06
3239,228315,51249.0,261,5.543627e-07,2.036732e-07,1.800016e-03
3241,228315,51265.0,267,2.021063e-18,3.992535e-22,6.562393e-15

### pvals - FDR Analysis

In [13]:
fdr1_analysis = multipletests(res_out["MannwhitneyuTest"], alpha=0.01, method='fdr_bh')
reject1, pvals_corrected1, _, alphacBonf = fdr1_analysis

res_out['FDR Benjamini Corrected'] = pd.Series(pvals_corrected1)

In [14]:
print(pd.Series(pvals_corrected1).describe())

count     3.247000e+03
mean      1.937566e-01
std       2.860027e-01
min      4.441162e-242
25%       5.154105e-06
50%       1.790144e-02
75%       3.240424e-01
max       1.000000e+00
dtype: float64

In [15]:
res_out

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals,FDR Benjamini Corrected
0,220862,50802.0,290,0.346783,7.652955e-01,1.000000,0.431254
1,220862,50804.0,299,0.718489,9.722565e-01,1.000000,0.776351
2,220862,50808.0,240,0.722052,8.574275e-01,1.000000,0.778905
3,220862,50809.0,140,0.328774,1.294115e-01,1.000000,0.412651
4,220862,50813.0,207,0.002519,3.305889e-02,1.000000,0.005850
...,...,...,...,...,...,...,...
3242,228315,51274.0,142,0.280371,3.326322e-01,1.000000,0.361112
3243,228315,51275.0,132,0.081490,6.334181e-02,1.000000,0.127948
3244,228315,51277.0,242,0.000009,1.606527e-05,0.028322,0.000031
3245,228315,51279.0,266,0.000243,1.289724e-04,0.788347,0.000690
3246,228315,51301.0,263,0.000003,6.732417e-07,0.010251,0.000012

In [16]:
significant_fdr = res_out[reject1]

In [17]:
significant_fdr

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals,FDR Benjamini Corrected
4,220862,50813.0,207,2.518857e-03,3.305889e-02,1.000000e+00,5.850306e-03
6,220862,50818.0,308,1.245621e-03,1.242324e-03,1.000000e+00,3.092150e-03
8,220862,50821.0,319,3.380012e-05,6.215615e-06,1.097490e-01,1.115335e-04
11,220862,50863.0,135,1.918318e-05,1.517674e-06,6.228778e-02,6.542834e-05
14,220862,50882.0,378,2.704181e-04,1.725866e-04,8.780475e-01,7.630190e-04
...,...,...,...,...,...,...,...
3239,228315,51249.0,261,5.543627e-07,2.036732e-07,1.800016e-03,2.310675e-06
3241,228315,51265.0,267,2.021063e-18,3.992535e-22,6.562393e-15,2.495206e-17
3244,228315,51277.0,242,8.722667e-06,1.606527e-05,2.832250e-02,3.108946e-05
3245,228315,51279.0,266,2.427926e-04,1.289724e-04,7.883475e-01,6.903218e-04
3246,228315,51301.0,263,3.157183e-06,6.732417e-07,1.025137e-02,1.189254e-05

### Final Intersection

In [18]:
significant_intersection = pd.merge(significant_df, significant_fdr, how="inner")

In [19]:
significant_intersection

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals,FDR Benjamini Corrected
0,220862,50912.0,380,9.085802e-07,4.772828e-07,2.950160e-03,3.692315e-06
1,220862,51221.0,435,1.252341e-14,1.163620e-15,4.066350e-11,1.168491e-13
2,220862,51222.0,390,5.806700e-08,6.744057e-08,1.885436e-04,2.768628e-07
3,220862,51249.0,388,9.513892e-14,8.872544e-15,3.089161e-10,8.281933e-13
4,220862,51250.0,358,6.198333e-10,3.994710e-10,2.012599e-06,3.754848e-09
...,...,...,...,...,...,...,...
854,227694,51265.0,414,3.362183e-09,6.233458e-12,1.091701e-05,1.828645e-08
855,227694,51279.0,409,2.418388e-08,1.017727e-08,7.852507e-05,1.202528e-07
856,228315,50902.0,284,2.022485e-09,1.405137e-12,6.567009e-06,1.140106e-08
857,228315,51249.0,261,5.543627e-07,2.036732e-07,1.800016e-03,2.310675e-06
858,228315,51265.0,267,2.021063e-18,3.992535e-22,6.562393e-15,2.495206e-17

In [27]:
lab_items = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "D_LABITEMS.csv.gz"))
items = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "D_ITEMS.csv.gz"))

In [34]:
significant_intersection.columns

Index(['ITEMID', 'LAB_ITEMID', 'SUBJECT_ID', 'MannwhitneyuTest', 'TTest',
       'BonferroniPvals', 'FDR Benjamini Corrected'],
      dtype='object')

In [41]:
name_significant_intersection = pd.merge(significant_intersection, items, on=["ITEMID"], how="inner")[list(significant_intersection.columns)+["LABEL"]].rename(columns={"LABEL":"MED", "ITEMID":"MED_ITEMID", "LAB_ITEMID":"ITEMID"})
name_significant_intersection = pd.merge(name_significant_intersection, items, on=["ITEMID"], how="inner")[['SUBJECT_ID', 'MannwhitneyuTest', 'TTest','BonferroniPvals', 'FDR Benjamini Corrected']+["MED", "MED_ITEMID","ITEMID", "LABEL"]].rename(columns={"LABEL":"LAB", "ITEMID":"LAB_ITEMID"})
name_significant_intersection

Empty DataFrame
Columns: [SUBJECT_ID, MannwhitneyuTest, TTest, BonferroniPvals, FDR Benjamini Corrected, MED, MED_ITEMID, LAB_ITEMID, LAB]
Index: []

In [30]:
significant_intersection.sort_values("FDR Benjamini Corrected").head(10)

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals,FDR Benjamini Corrected
248,223260,51265.0,1684,1.367774e-245,0.000000e+00,4.441162e-242,4.441162e-242
834,227523,51265.0,3232,5.543490e-188,2.337999e-246,1.799971e-184,8.999857e-185
750,226372,50820.0,1604,7.371136e-178,1.417724e-212,2.393408e-174,7.978026e-175
192,222011,51265.0,3686,4.803901e-176,1.005481e-231,1.559827e-172,3.899566e-173
645,226364,50902.0,2265,8.442320e-176,1.407788e-228,2.741221e-172,5.482443e-173
139,221794,51265.0,2131,6.700727e-169,1.519017e-201,2.175726e-165,3.626210e-166
639,226364,50820.0,2903,1.415192e-164,1.702462e-184,4.595127e-161,6.564467e-162
753,226372,50902.0,820,2.902965e-158,3.871898e-249,9.425927e-155,1.178241e-155
657,226364,51301.0,2881,9.410239e-140,2.922600e-200,3.055505e-136,3.395005e-137
637,226364,50813.0,1335,2.053268e-138,7.891731e-178,6.666963e-135,6.666963e-136

In [55]:
significant_intersection.to_csv(os.path.join(res, "significant_lab_med_all_trends_med_effect.csv"))

In [22]:
med_effect_significant = pd.read_csv(os.path.join(res, "significant_lab_med_all_med_effect.csv")).drop(columns=["Unnamed: 0"])

In [23]:
med_effect_significant

,ITEMID,LAB_ITEMID,SUBJECT_ID,MannwhitneyuTest,TTest,BonferroniPvals,FDR Benjamini Corrected
0,220862,50821.0,471,5.395021e-17,8.188215e-37,3.125335e-13,7.007478e-16
1,220862,50960.0,607,9.078456e-25,7.284733e-18,5.259150e-21,1.838864e-23
2,220862,51221.0,627,2.887183e-28,1.249454e-32,1.672545e-24,7.117212e-27
3,220862,51222.0,597,6.343373e-21,4.042760e-25,3.674716e-17,1.038055e-19
4,220862,51265.0,600,1.478657e-08,1.920522e-04,8.565858e-05,9.290519e-08
...,...,...,...,...,...,...,...
1202,228315,50821.0,332,2.417587e-16,9.734360e-31,1.400508e-12,3.005382e-15
1203,228315,50960.0,541,7.680269e-19,9.069532e-17,4.449180e-15,1.104015e-17
1204,228315,51221.0,623,4.131297e-14,1.294480e-14,2.393260e-10,4.456723e-13
1205,228315,51222.0,571,1.369861e-09,5.060849e-10,7.935606e-06,9.642291e-09
1206,228315,51279.0,567,2.797049e-09,1.153064e-09,1.620331e-05,1.908517e-08

In [24]:
final_significant_med_lab_pairs = pd.merge(significant_intersection, med_effect_significant, how="inner", on=["ITEMID", "LAB_ITEMID"])

In [25]:
final_significant_med_lab_pairs

,ITEMID,LAB_ITEMID,SUBJECT_ID_x,MannwhitneyuTest_x,TTest_x,BonferroniPvals_x,FDR Benjamini Corrected_x,SUBJECT_ID_y,MannwhitneyuTest_y,TTest_y,BonferroniPvals_y,FDR Benjamini Corrected_y
0,220862,51221.0,435,1.252341e-14,1.163620e-15,4.066350e-11,1.168491e-13,627,2.887183e-28,1.249454e-32,1.672545e-24,7.117212e-27
1,220862,51222.0,390,5.806700e-08,6.744057e-08,1.885436e-04,2.768628e-07,597,6.343373e-21,4.042760e-25,3.674716e-17,1.038055e-19
2,220862,51265.0,394,2.165638e-33,9.201090e-39,7.031828e-30,5.849779e-32,600,1.478657e-08,1.920522e-04,8.565858e-05,9.290519e-08
3,220862,51277.0,375,4.818524e-09,3.762896e-10,1.564575e-05,2.573314e-08,595,1.094992e-10,1.322821e-07,6.343289e-07,8.773568e-10
4,220862,51279.0,393,3.769935e-07,2.770471e-07,1.224098e-03,1.604322e-06,595,1.258820e-19,7.531262e-23,7.292344e-16,1.904006e-18
...,...,...,...,...,...,...,...,...,...,...,...,...
476,227533,50820.0,312,7.850854e-10,6.182574e-12,2.549172e-06,4.720690e-09,462,5.920676e-07,4.448525e-04,3.429847e-03,3.013926e-06
477,227533,50960.0,166,3.788771e-07,1.679235e-07,1.230214e-03,1.610228e-06,323,2.295202e-10,1.147614e-07,1.329610e-06,1.765751e-09
478,227533,51265.0,226,1.733402e-12,4.891831e-17,5.628355e-09,1.369429e-11,362,3.836445e-08,2.101411e-07,2.222453e-04,2.298296e-07
479,227533,51277.0,205,7.667343e-07,2.517180e-06,2.489586e-03,3.135499e-06,355,3.668350e-07,1.047351e-05,2.125075e-03,1.931886e-06
480,227694,51221.0,435,3.440194e-07,3.514403e-08,1.117031e-03,1.471714e-06,753,1.948180e-07,9.771522e-06,1.128580e-03,1.058706e-06

In [61]:
final_significant_med_lab_pairs.to_csv(os.path.join(res, "significant_intersection_trends_and_med_effect_lab_med_all.csv"))

In [65]:
final_significant_med_lab_pairs.columns

Index(['ITEMID', 'LAB_ITEMID', 'SUBJECT_ID_x', 'MannwhitneyuTest_x', 'TTest_x',
       'BonferroniPvals_x', 'FDR Benjamini Corrected_x', 'SUBJECT_ID_y',
       'MannwhitneyuTest_y', 'TTest_y', 'BonferroniPvals_y',
       'FDR Benjamini Corrected_y'],
      dtype='object')

In [26]:
final_significant_med_lab_pairs.sort_values(by=['FDR Benjamini Corrected_y', 'FDR Benjamini Corrected_x']).head(10)

,ITEMID,LAB_ITEMID,SUBJECT_ID_x,MannwhitneyuTest_x,TTest_x,BonferroniPvals_x,FDR Benjamini Corrected_x,SUBJECT_ID_y,MannwhitneyuTest_y,TTest_y,BonferroniPvals_y,FDR Benjamini Corrected_y
102,222011,50960.0,3048,4.440969e-13,2.335888e-20,1.441983e-09,3.669167e-12,6560,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
462,227523,50960.0,2690,2.482494e-12,1.060645e-17,8.060659e-09,1.905593e-11,5257,0.000000e+00,5.145557e-256,0.000000e+00,0.000000e+00
358,226364,50821.0,2803,3.283669e-08,9.142250e-09,1.066207e-04,1.610585e-07,3567,1.746652e-232,0.000000e+00,1.011836e-228,2.023671e-229
192,225798,51221.0,2300,2.849576e-23,1.675419e-44,9.252572e-20,4.819048e-22,5417,7.443586e-168,4.358359e-164,4.312070e-164,4.791188e-165
45,221456,50821.0,2108,2.203911e-07,1.356078e-13,7.156098e-04,9.722959e-07,3506,2.616736e-165,0.000000e+00,1.515875e-161,1.515875e-162
415,226372,50802.0,1412,4.004665e-118,1.840773e-152,1.300315e-114,6.843761e-116,1707,3.017122e-157,3.973143e-104,1.747819e-153,1.588926e-154
96,222011,50821.0,2006,3.411009e-11,5.244133e-14,1.107554e-07,2.321917e-10,3251,4.602338e-132,3.725307e-252,2.666134e-128,1.904382e-129
456,227523,50821.0,1786,6.351794e-16,5.477367e-19,2.062428e-12,6.603008e-15,2718,2.152969e-128,3.167574e-239,1.247215e-124,8.314764e-126
47,221456,50960.0,1999,2.881132e-16,7.938742e-18,9.355034e-13,3.077314e-15,4223,2.245992e-125,5.669923e-93,1.301103e-121,7.653549e-123
296,225911,50821.0,604,9.468556e-10,3.916152e-19,3.074440e-06,5.600073e-09,831,2.689953e-124,1.958239e-218,1.558290e-120,8.657165e-122

In [68]:
final_significant_med_lab_pairs.shape

(481, 12)