In [1]:
data = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data"

In [2]:
import pandas as pd
import os

In [109]:
admits = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "ADMISSIONS.csv.gz"))

In [4]:
labevents = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "LABEVENTS.csv.gz"))

In [5]:
labevents

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
...,...,...,...,...,...,...,...,...,...
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

In [50]:
d_labitems = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw",'D_LABITEMS.csv.gz'))

In [51]:
d_labitems

,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,546,51346,Blasts,Cerebrospinal Fluid (CSF),Hematology,26447-3
1,547,51347,Eosinophils,Cerebrospinal Fluid (CSF),Hematology,26451-5
2,548,51348,"Hematocrit, CSF",Cerebrospinal Fluid (CSF),Hematology,30398-2
3,549,51349,Hypersegmented Neutrophils,Cerebrospinal Fluid (CSF),Hematology,26506-6
4,550,51350,Immunophenotyping,Cerebrospinal Fluid (CSF),Hematology,NaN
...,...,...,...,...,...,...
748,749,51551,VOIDED SPECIMEN,OTHER BODY FLUID,HEMATOLOGY,NaN
749,750,51552,VOIDED SPECIMEN,STOOL,CHEMISTRY,NaN
750,751,51553,VOIDED SPECIMEN,URINE,CHEMISTRY,NaN
751,752,51554,VOIDED SPECIMEN,JOINT FLUID,HEMATOLOGY,NaN
752,753,51555,SURFACTANT ALBUMIN RATIO,OTHER BODY FLUID,CHEMISTRY,NaN

In [9]:
labevents = pd.merge(labevents, d_labitems, how="inner", on="ITEMID")

In [10]:
labevents

,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,LABEL,FLUID,CATEGORY,LOINC_CODE
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,21,pH,Blood,Blood Gas,11558-4
1,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,21,pH,Blood,Blood Gas,11558-4
2,396,3,NaN,50820,2101-10-15 12:42:00,7.49,7.49,units,NaN,21,pH,Blood,Blood Gas,11558-4
3,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,21,pH,Blood,Blood Gas,11558-4
4,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,21,pH,Blood,Blood Gas,11558-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27854050,27701184,98573,175201.0,51169,2196-01-13 18:31:00,0,0.00,%,NaN,369,CD20 %,Blood,Hematology,NaN
27854051,27700707,98573,175201.0,51170,2196-01-09 03:00:00,13,13.00,#/uL,NaN,370,CD20 Absolute Count,Blood,Hematology,NaN
27854052,27699600,98573,175201.0,51170,2195-12-31 10:15:00,2,2.00,#/uL,NaN,370,CD20 Absolute Count,Blood,Hematology,NaN
27854053,27701604,98573,175201.0,51170,2196-01-19 17:22:00,0,0.00,#/uL,NaN,370,CD20 Absolute Count,Blood,Hematology,NaN
27854054,27701185,98573,175201.0,51170,2196-01-13 18:31:00,0,0.00,#/uL,NaN,370,CD20 Absolute Count,Blood,Hematology,NaN

In [11]:
labevents = pd.merge(labevents, admits, how="inner", on="HADM_ID")

In [12]:
labevents

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,21,...,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
1,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,21,...,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
2,998,3,145834.0,50820,2101-10-22 10:16:00,7.37,7.37,units,NaN,21,...,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
3,1007,3,145834.0,50820,2101-10-22 11:21:00,7.39,7.39,units,NaN,21,...,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
4,1020,3,145834.0,50820,2101-10-22 13:02:00,7.39,7.39,units,NaN,21,...,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22245029,11174338,18054,100572.0,51455,2158-04-24 11:42:00,29,29.00,%,abnormal,655,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0
22245030,11174339,18054,100572.0,51457,2158-04-24 11:42:00,575,575.00,#/uL,abnormal,657,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0
22245031,11174340,18054,100572.0,51458,2158-04-24 11:42:00,1325,1325.00,#/uL,abnormal,658,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0
22245032,11174335,18054,100572.0,51447,2158-04-24 11:42:00,10,10.00,%,abnormal,647,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0
22245033,11174333,18054,100572.0,51444,2158-04-24 11:42:00,31,31.00,%,abnormal,644,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0

In [15]:
def change_col_to_datetime(inputevents_mv, feature):
    inputevents_mv[feature] = pd.to_datetime(inputevents_mv[feature])
    return inputevents_mv
labevents = change_col_to_datetime(labevents, 'ADMITTIME')
labevents = change_col_to_datetime(labevents, 'CHARTTIME')
labevents["LabTimeFromAdmit"] = labevents['CHARTTIME']-labevents['ADMITTIME']

In [16]:
labevents.columns

Index(['ROW_ID_x', 'SUBJECT_ID_x', 'HADM_ID', 'ITEMID', 'CHARTTIME', 'VALUE',
       'VALUENUM', 'VALUEUOM', 'FLAG', 'ROW_ID_y', 'LABEL', 'FLUID',
       'CATEGORY', 'LOINC_CODE', 'ROW_ID', 'SUBJECT_ID_y', 'ADMITTIME',
       'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'LabTimeFromAdmit'],
      dtype='object')

In [18]:
labevents.describe()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ITEMID,VALUENUM,ROW_ID_y,ROW_ID,SUBJECT_ID_y,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,LabTimeFromAdmit
count,2.224503e+07,2.224503e+07,2.224503e+07,2.224503e+07,2.011531e+07,2.224503e+07,2.224503e+07,2.224503e+07,2.224503e+07,2.224503e+07,22245034
mean,1.448134e+07,3.343667e+04,1.499675e+05,5.104667e+04,7.662884e+01,2.472272e+02,2.925274e+04,3.343667e+04,1.670595e-01,9.906246e-01,8 days 12:12:10.289985622
std,8.162637e+06,2.800249e+04,2.886231e+04,2.087628e+02,4.880162e+03,2.083144e+02,1.705016e+04,2.800249e+04,3.730290e-01,9.637167e-02,13 days 15:29:26.593540843
min,1.000000e+00,2.000000e+00,1.000010e+05,5.080000e+04,-4.140000e+02,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,-3 days +12:13:00
25%,7.353517e+06,1.181800e+04,1.251080e+05,5.086800e+04,4.400000e+00,6.900000e+01,1.448400e+04,1.181800e+04,0.000000e+00,1.000000e+00,0 days 22:44:00
50%,1.478957e+07,2.388300e+04,1.498490e+05,5.097100e+04,1.900000e+01,1.720000e+02,2.919100e+04,2.388300e+04,0.000000e+00,1.000000e+00,3 days 23:58:00
75%,2.172560e+07,5.345900e+04,1.750200e+05,5.124900e+04,6.000000e+01,4.490000e+02,4.409900e+04,5.345900e+04,0.000000e+00,1.000000e+00,10 days 11:32:00
max,2.790765e+07,9.999900e+04,1.999990e+05,5.153700e+04,1.104000e+07,7.370000e+02,5.897600e+04,9.999900e+04,1.000000e+00,1.000000e+00,294 days 07:54:00

In [19]:
labevents.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data.csv"))

## Chartevents

In [31]:
mimic_extract_map = pd.read_csv(os.path.join("/Users/yanpavan/Desktop/", "itemid_to_variable_map.csv"))

In [32]:
# mimic_extract_map = mimic_extract_map[mimic_extract_map["STATUS"]=="ready"]

In [33]:
mimic_extract_map

,LEVEL2,LEVEL1,ALTERNATIVE,STATUS,STATUS NOTE,ITEMID,MIMIC LABEL,UNITNAME,LINKSTO,COUNT,CATEGORY,CONCEPTID,FLUID,LOINC_CODE,DBSOURCE,Unnamed: 15,PARAM_TYPE,NOTE
0,Alanine aminotransferase,Alanine aminotransferase,ALT,ready,NaN,50861,ALANINE AMINOTRANSFERASE (ALT),NaN,labevents,219475.0,CHEMISTRY,NaN,BLOOD,,NaN,NaN,NaN,NaN
1,Alanine aminotransferase,Alanine aminotransferase,ALT,ready,NaN,769,ALT,NaN,chartevents,41594.0,Enzymes,NaN,NaN,NaN,carevue,NaN,NaN,NaN
2,Alanine aminotransferase,Alanine aminotransferase,ALT,ready,NaN,220644,ALT,None,chartevents,37625.0,Labs,NaN,NaN,NaN,metavision,NaN,Numeric,NaN
3,Albumin,Albumin,NaN,ready,NaN,50862,ALBUMIN,NaN,labevents,146697.0,CHEMISTRY,NaN,BLOOD,1751-7,NaN,NaN,NaN,NaN
4,Albumin,Albumin,NaN,ready,NaN,772,Albumin (>3.2),NaN,chartevents,31022.0,Chemistry,NaN,NaN,NaN,carevue,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13246,Urine output,Urine output,NaN,ready,NaN,226565,L Nephrostomy,NaN,outputevents,NaN,NaN,NaN,NaN,NaN,metavision,NaN,NaN,NaN
13247,Urine output,Urine output,NaN,ready,NaN,226567,Straight Cath,NaN,outputevents,NaN,NaN,NaN,NaN,NaN,metavision,NaN,NaN,NaN
13248,Urine output,Urine output,NaN,ready,NaN,226584,Ileoconduit,NaN,outputevents,NaN,NaN,NaN,NaN,NaN,metavision,NaN,NaN,NaN
13249,Urine output,Urine output,OR Urine,ready,NaN,226627,OR Urine,mL,outputevents,5928.0,Output,NaN,NaN,NaN,metavision,NaN,NaN,NaN
13250,Urine output,Urine output,NaN,ready,NaN,227510,TF Residual,NaN,outputevents,NaN,NaN,NaN,NaN,NaN,metavision,NaN,NaN,NaN

In [34]:
mimic_extract_map_small = mimic_extract_map[["LEVEL2", "MIMIC LABEL", "ITEMID", "STATUS", "LINKSTO"]]
mimic_extract_map_small_lab = mimic_extract_map_small[mimic_extract_map_small["STATUS"]=="ready"]

In [35]:
mimic_extract_map.groupby(["LINKSTO", "STATUS"]).count()

                       LEVEL2  LEVEL1  ALTERNATIVE  STATUS NOTE  ITEMID  \
LINKSTO        STATUS
chartevents    ignore      18      18            4            0      18
               maybe        9       9            0            0       9
               ready      216     216          134           25     216
               verify      72      72           24            7      72
inputevents_mv verify       1       1            1            0       1
labevents      ignore       5       5            1            0       5
               ready       87      87           40            1      87
               verify      39      39            4            5      39
outputevents   ready       28      28            1            0      28

                       MIMIC LABEL  UNITNAME  COUNT  CATEGORY  CONCEPTID  \
LINKSTO        STATUS
chartevents    ignore           18         2     18         3          0
               maybe             9         0      9         7          0
               ready           216        78    216       141          0
               verify           72         4     72        31          0
inputevents_mv verify            1         1      1         1          0
labevents      ignore            5         0      5         5          0
               ready            87         0     87        87          0
               verify           39         0     39        39          0
outputevents   ready            28         2     10         2          0

                       FLUID  LOINC_CODE  DBSOURCE  Unnamed: 15  PARAM_TYPE  \
LINKSTO        STATUS
chartevents    ignore      0           0        18            0           2
               maybe       0           0         9            0           0
               ready       0           0       216            0          58
               verify      0           0        72            0           9
inputevents_mv verify      0           0         1            0           1
labevents      ignore      5           5         0            0           1
               ready      87          87         0            0          16
               verify     39          34         0            0           5
outputevents   ready       0           0        28            0           2

                       NOTE
LINKSTO        STATUS
chartevents    ignore     0
               maybe      0
               ready      0
               verify     0
inputevents_mv verify     0
labevents      ignore     0
               ready      0
               verify     0
outputevents   ready      0

In [36]:
mimic_extract_map_small_lab

,LEVEL2,MIMIC LABEL,ITEMID,STATUS,LINKSTO
0,Alanine aminotransferase,ALANINE AMINOTRANSFERASE (ALT),50861,ready,labevents
1,Alanine aminotransferase,ALT,769,ready,chartevents
2,Alanine aminotransferase,ALT,220644,ready,chartevents
3,Albumin,ALBUMIN,50862,ready,labevents
4,Albumin,Albumin (>3.2),772,ready,chartevents
...,...,...,...,...,...
13246,Urine output,L Nephrostomy,226565,ready,outputevents
13247,Urine output,Straight Cath,226567,ready,outputevents
13248,Urine output,Ileoconduit,226584,ready,outputevents
13249,Urine output,OR Urine,226627,ready,outputevents
13250,Urine output,TF Residual,227510,ready,outputevents

In [37]:
mimic_extract_map.LINKSTO.value_counts()

chartevents           5909
inputevents_cv        2929
outputevents          1179
labevents              755
microbiologyevents     436
inputevents_mv         422
datetimeevents         193
procedureevents_mv     125
Name: LINKSTO, dtype: int64

In [38]:
mimic_extract_map_small_lab.LINKSTO.value_counts()

chartevents     216
labevents        87
outputevents     28
Name: LINKSTO, dtype: int64

In [39]:
d_m_l_doc = pd.read_csv(os.path.join(data, "mimiciii", "1.4","preprocessed", "mapping_med_itemid_doc.csv")).drop(columns=["Unnamed: 0"])

In [40]:
d_m_l_doc

,Medication,lab result,increased or decreased,"immediate (up to 2 hours), late (more than 2 hours)",Medication ITEMIDs,Medication MIMIC Labels,ITEMID_with_manual
0,Ramipril,potassium,increased,immediate,[],[],[]
1,Furosemide,magnesium,decreased,late,"[221794, 228340, 3439]","['Furosemide/Lasix', 'Furosemide (Lasix)', 'Fu...","[221794, 228340, 3439]"
2,Hydrochlorothiazide,calcium,increased,late,[],[],[]
3,Spironolactone,potassium,increased,immediate,"[6296, 5962]","['spironolactone', 'Spironolactone']","[6296, 5962]"
4,Hydrochlorothiazide,Uric acid,increased,late,[],[],[]
5,Omeprazole,B12,decreased,late,"[7745, 7252, 227694]","['omeprazole', 'Omeprazole (Prilosec)', 'Omepr...","[7745, 7252, 227694]"
6,Pantoprazole,B12,decreased,late,"[8074, 44820, 46522, 46014, 1097, 1226, 7372, ...","['PANTOPRAZOLE', 'pantoprazole80mg/100', 'Pant...","[8074, 44820, 46522, 46014, 1097, 1226, 7372, ..."
7,Esmoprazole,B12,decreased,late,[],[],[]
8,Metformin,B12,increased,late,[],[],[]
9,Metformin,lactic acid,increased,immediate,[],[],[]
10,Amoxicilin-clavulanate,ALT,increased,late,[],[],[]
11,Amoxicilin-clavulanate,AST,increased,late,[],[],[]
12,Acetylsalycilic acid (aspirin),Hemoglobin,decreased,late,"[7325, 7325, 7325, 7325, 7325]",[],[7325]
13,Acetylsalycilic acid (aspirin),platelets,decreased,late,"[7325, 7325]",[],[7325]
14,Trimetoprim-sulphamethoxazole,creatinine,increased,immediate,[],[],[]
15,Trimetoprim-sulphamethoxazole,potassium,increased,late,[],[],[]
16,Paracetamole (acetaminophen),ALT,increased,late,"[50856, 50856]",[],[50856]
17,Rivaroxaban,INR,increased,immediate,[],[],[]
18,Dabigatran,Aptt,increased,immediate,[],[],[]
19,Warfarin,INR,increased,late,[225913],['Coumadin (Warfarin)'],[225913]
20,Clozapine,platelets,decreased,late,[],[],[]
21,Paroxetine,sodium,decreased,late,[],[],[]
22,Citalopram,sodium,decreased,late,[],[],[]
23,Fluoxetine,sodium,decreased,late,[],[],[]
24,Haloperidol,prolactin,increased,late,[221824],['Haloperidol (Haldol)'],[221824]
25,Quetiapine,prolactin,increased,late,[],[],[]
26,Valsartan,potassium,increased,immediate,[],[],[]
27,Simvastatin,CPK,increased,late,[],[],[]
28,Ceftriaxone,bilirubin,increased,late,"[90018, 225855]","['Ceftriaxone', 'CEFTRIAXONE']","[90018, 225855]"
29,Valproic acid,Amylase,increased,late,[],[],[]
30,Valproic acid,Lipase,increased,late,[],[],[]
31,Glimepiride,glucose,decreased,immediate,[],[],[]
32,Glibenclamide,glucose,decreased,immediate,[],[],[]
33,Procainamide,ANA,increased,late,"[50962, 45853]","['N-ACETYLPROCAINAMIDE (NAPA)', 'Procainamide ...","[50962, 45853]"

In [58]:
d_m_l_doc["lab result"].value_counts().sort_index()

ALT            2
ANA            1
AST            1
Amylase        1
Aptt           1
B12            4
CPK            1
Hemoglobin     1
INR            2
Lipase         1
Uric acid      1
bilirubin      1
calcium        1
creatinine     1
glucose        2
lactic acid    1
magnesium      1
platelets      2
potassium      4
prolactin      2
sodium         3
Name: lab result, dtype: int64

In [60]:
k = list(lab_itemids.keys())
k.sort()
k

['Amylase',
 'Amylase, Ascites',
 'Amylase, Body Fluid',
 'Amylase, Joint Fluid',
 'Amylase, Pleural',
 'Amylase, Urine',
 'Lipase',
 'Lipase, Ascites',
 'Lipase, Body Fluid',
 'Prolactin',
 'Uric Acid',
 'Uric Acid, Urine',
 'Vitamin B12',
 'alt',
 'ana',
 'ast',
 'bilirubin',
 'calcium',
 'creatinine',
 'glucose',
 'hemoglobin',
 'inr',
 'lactic acid',
 'magnesium',
 'platelets',
 'potassium',
 'sodium']

In [71]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Hemoglobin"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[814, 220228, 51222, 50811]

In [75]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Bilirubin"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[50883, 803, 225651, 50885, 1538, 848, 225690, 50884]

In [85]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Creatinine urine"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[51082]

In [90]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Calcium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[786, 1522, 50893, 225625]

In [91]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Glucose"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[50931, 807, 811, 1529, 50809, 3745, 225664, 220621, 226537]

In [93]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Platelets"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[51265, 828, 227457]

In [97]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Potassium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[829, 1535, 227464, 50971, 50822]

In [98]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Sodium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[837, 1536, 220645, 226534, 50983, 50824]

In [41]:
lab_names = [k.lower() for k in d_m_l_doc.groupby("lab result").count()[["Medication"]].reset_index()["lab result"].to_list()]
res_dict = {}
for l in lab_names:
    res_dict[l.lower().strip()] = mimic_extract_map_small[mimic_extract_map_small.apply(lambda r: l.lower() in str(r["MIMIC LABEL"]).lower(), axis=1)].dropna()
lab_itemids, lab_labels = {}, {}
for l in res_dict:
    if res_dict[l].shape[0]>0:
        lab_labels[l] = res_dict[l].groupby("LEVEL2")["MIMIC LABEL"].apply(list).to_dict()
        lab_itemids[l] = res_dict[l].groupby("LEVEL2")["ITEMID"].apply(list).to_dict()   
del lab_itemids['ast']['Diastolic blood pressure']

In [42]:
import pickle
v_r_lab_dict = pickle.load(open(os.path.join(data, "mapping_lab_itemids.pkl"), "rb"))
temp_itemids_list = {k: [i for l in list(v.values()) for i in l] for k, v in lab_itemids.items()}
for l in v_r_lab_dict:
    if l.lower().strip() in temp_itemids_list:
        items = [k[1] for k in v_r_lab_dict[l]]
        names = [k[0] for k in v_r_lab_dict[l]]
        diff = list(set(items).difference(set(temp_itemids_list[l.lower().strip()])))
        if len(diff)>0:
            for k in diff:
               lab_itemids[l.lower().strip()][names[items.index(k)]] = [k]
    else:
        for l1 in v_r_lab_dict[l]:
            if l1[0] not in lab_itemids:
                lab_itemids[l1[0]] = {}
                lab_itemids[l1[0]][l1[0]] = [l1[1]]

In [99]:
# lab_itemids["hemoglobin"]["Hemoglobin"] = [814, 220228, 51222, 50811]
# lab_itemids['bilirubin']['Bilirubin'] = [51465, 50883, 803, 225651, 50885, 1538, 848, 225690, 50884]
# lab_itemids['calcium']['Calcium ionized'].append(3766)
# lab_itemids['creatinine']['Creatinine'] = [791, 1525, 220615, 50912]
# lab_itemids['creatinine']['Creatinine urine'] = [51082]
# del lab_itemids['calcium']['Calcium Ionized']
# del lab_itemids['bilirubin']['Bilirubin, Indirect']
# del lab_itemids['bilirubin']['Bilirubin, Total']
# del lab_itemids['bilirubin']['Bilirubin, Direct']
# lab_itemids['calcium']['Calcium'] = [786, 1522, 50893, 225625]
# lab_itemids['platelets']['Platelets'] = [51265, 828, 227457]
# lab_itemids['potassium']['Potassium'] = [829, 1535, 227464, 50971, 50822]
# lab_itemids['sodium']['Sodium'] = [837, 1536, 220645, 226534, 50983, 50824]
# # Bilirubin, Direct (50883), Bilirubin, Total (50885), Bilirubin, Indirect (50884)

In [ ]:
# ana, aptt

In [100]:
lab_itemids

{'alt': {'Alanine aminotransferase': [50861, 769, 220644]},
 'ana': {'Fraction inspired oxygen': [189]},
 'ast': {'Asparate aminotransferase': [50878, 770, 220587]},
 'hemoglobin': {'Hemoglobin percent': [50852],
  'Hemoglobin C': [51224],
  'Hemoglobin F': [51225],
  'Hemoglobin A2': [51223],
  'Hemoglobin': [814, 220228, 51222, 50811]},
 'inr': {'Prothrombin time INR': [51237, 815, 1530, 227467]},
 'bilirubin': {'Bilirubin': [51465,
   50883,
   803,
   225651,
   50885,
   1538,
   848,
   225690,
   50884],
  'Bilirubin, Total, Pleural': [51049],
  'Bilirubin, Total, Body Fluid': [51028],
  'Bilirubin, Total, Ascites': [50838]},
 'calcium': {'Calcium': [786, 1522, 3746, 51029, 50893, 225625],
  'Calcium ionized': [50808, 816, 225667, 3766],
  'Calcium urine': [51066, 51077]},
 'creatinine': {'Creatinine': [791, 1525, 220615, 50912],
  'Creatinine ascites': [50841],
  'Creatinine body fluid': [51032],
  'Creatinine pleural': [51052],
  'Creatinine urine': [51082]},
 'glucose': {'Glucose': [50931,
   807,
   811,
   1529,
   50809,
   3745,
   225664,
   220621,
   226537],
  'Glucose urine': [51478],
  'Glucose, CSF': [51014],
  'Estimated Actual Glucose': [51529],
  'Glucose, Urine': [51084],
  'Glucose, Pleural': [51053],
  'Glucose, Joint Fluid': [51022],
  'Glucose, Ascites': [50842],
  'Glucose, Body Fluid': [51034]},
 'lactic acid': {'Lactic acid': [818, 225668, 1531]},
 'magnesium': {'Magnesium': [50960], 'Magnesium, Urine': [51088]},
 'platelets': {'Platelets': [51265, 828, 227457], 'Large Platelets': [51240]},
 'potassium': {'Potassium': [829, 1535, 227464, 50971, 50822],
  'Potassium serum': [227442],
  'Potassium, Body Fluid': [51041],
  'Potassium, Pleural': [51057],
  'Potassium, Stool': [51064],
  'Potassium, Urine': [51097],
  'Potassium, Ascites': [50847]},
 'sodium': {'Sodium': [837, 1536, 220645, 226534, 50983, 50824],
  'Sodium, Ascites': [50848],
  'Sodium, Body Fluid': [51042],
  'Sodium, Pleural': [51058],
  'Sodium, Stool': [51065],
  'Sodium, Urine': [51100]},
 'Uric Acid': {'Uric Acid': [51007]},
 'Uric Acid, Urine': {'Uric Acid, Urine': [51105]},
 'Vitamin B12': {'Vitamin B12': [51010]},
 'Prolactin': {'Prolactin': [50973]},
 'Amylase': {'Amylase': [50867]},
 'Amylase, Ascites': {'Amylase, Ascites': [50836]},
 'Amylase, Body Fluid': {'Amylase, Body Fluid': [51026]},
 'Amylase, Joint Fluid': {'Amylase, Joint Fluid': [51020]},
 'Amylase, Pleural': {'Amylase, Pleural': [51047]},
 'Amylase, Urine': {'Amylase, Urine': [51072]},
 'Lipase': {'Lipase': [50956]},
 'Lipase, Ascites': {'Lipase, Ascites': [50844]},
 'Lipase, Body Fluid': {'Lipase, Body Fluid': [51036]}}

In [116]:
final_mapping_lab_itemids = {v2:k1 for k, v in lab_itemids.items() for k1, v1 in v.items() for v2 in v1}

In [118]:
pickle.dump(final_mapping_lab_itemids, open("/Users/yanpavan/Desktop/d.pkl", "wb"))
import pickle
final_mapping_lab_itemids = pickle.load(open("/Users/yanpavan/Desktop/d.pkl", "rb"))
final_mapping_lab_itemids

{50861: 'Alanine aminotransferase',
 769: 'Alanine aminotransferase',
 220644: 'Alanine aminotransferase',
 189: 'Fraction inspired oxygen',
 50878: 'Asparate aminotransferase',
 770: 'Asparate aminotransferase',
 220587: 'Asparate aminotransferase',
 50852: 'Hemoglobin percent',
 51224: 'Hemoglobin C',
 51225: 'Hemoglobin F',
 51223: 'Hemoglobin A2',
 814: 'Hemoglobin',
 220228: 'Hemoglobin',
 51222: 'Hemoglobin',
 50811: 'Hemoglobin',
 51237: 'Prothrombin time INR',
 815: 'Prothrombin time INR',
 1530: 'Prothrombin time INR',
 227467: 'Prothrombin time INR',
 51465: 'Bilirubin',
 50883: 'Bilirubin',
 803: 'Bilirubin',
 225651: 'Bilirubin',
 50885: 'Bilirubin',
 1538: 'Bilirubin',
 848: 'Bilirubin',
 225690: 'Bilirubin',
 50884: 'Bilirubin',
 51049: 'Bilirubin, Total, Pleural',
 51028: 'Bilirubin, Total, Body Fluid',
 50838: 'Bilirubin, Total, Ascites',
 786: 'Calcium',
 1522: 'Calcium',
 3746: 'Calcium',
 51029: 'Calcium',
 50893: 'Calcium',
 225625: 'Calcium',
 50808: 'Calcium ionized',
 816: 'Calcium ionized',
 225667: 'Calcium ionized',
 3766: 'Calcium ionized',
 51066: 'Calcium urine',
 51077: 'Calcium urine',
 791: 'Creatinine',
 1525: 'Creatinine',
 220615: 'Creatinine',
 50912: 'Creatinine',
 50841: 'Creatinine ascites',
 51032: 'Creatinine body fluid',
 51052: 'Creatinine pleural',
 51082: 'Creatinine urine',
 50931: 'Glucose',
 807: 'Glucose',
 811: 'Glucose',
 1529: 'Glucose',
 50809: 'Glucose',
 3745: 'Glucose',
 225664: 'Glucose',
 220621: 'Glucose',
 226537: 'Glucose',
 51478: 'Glucose urine',
 51014: 'Glucose, CSF',
 51529: 'Estimated Actual Glucose',
 51084: 'Glucose, Urine',
 51053: 'Glucose, Pleural',
 51022: 'Glucose, Joint Fluid',
 50842: 'Glucose, Ascites',
 51034: 'Glucose, Body Fluid',
 818: 'Lactic acid',
 225668: 'Lactic acid',
 1531: 'Lactic acid',
 50960: 'Magnesium',
 51088: 'Magnesium, Urine',
 51265: 'Platelets',
 828: 'Platelets',
 227457: 'Platelets',
 51240: 'Large Platelets',
 829: 'Potassium',
 1535: 'Potassium',
 227464: 'Potassium',
 50971: 'Potassium',
 50822: 'Potassium',
 227442: 'Potassium serum',
 51041: 'Potassium, Body Fluid',
 51057: 'Potassium, Pleural',
 51064: 'Potassium, Stool',
 51097: 'Potassium, Urine',
 50847: 'Potassium, Ascites',
 837: 'Sodium',
 1536: 'Sodium',
 220645: 'Sodium',
 226534: 'Sodium',
 50983: 'Sodium',
 50824: 'Sodium',
 50848: 'Sodium, Ascites',
 51042: 'Sodium, Body Fluid',
 51058: 'Sodium, Pleural',
 51065: 'Sodium, Stool',
 51100: 'Sodium, Urine',
 51007: 'Uric Acid',
 51105: 'Uric Acid, Urine',
 51010: 'Vitamin B12',
 50973: 'Prolactin',
 50867: 'Amylase',
 50836: 'Amylase, Ascites',
 51026: 'Amylase, Body Fluid',
 51020: 'Amylase, Joint Fluid',
 51047: 'Amylase, Pleural',
 51072: 'Amylase, Urine',
 50956: 'Lipase',
 50844: 'Lipase, Ascites',
 51036: 'Lipase, Body Fluid'}

In [119]:
final_itemids_list = list(final_mapping_lab_itemids.keys())
# chartevents.columns

## Labevents

In [129]:
labevents = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data.csv"))

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/1490636941.py:1: DtypeWarning: Columns (19,24,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  labevents = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data.csv"))

In [130]:
labevents = labevents[labevents.ITEMID.isin(final_itemids_list)]
labevents["MIMICExtractName"] = labevents.apply(lambda r: final_mapping_lab_itemids[r["ITEMID"]], axis=1)

In [131]:
labevents["TABLE"] = labevents.apply(lambda r: "LABEVENTS", axis=1)

In [132]:
labevents

,Unnamed: 0,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,...,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,LabTimeFromAdmit,MIMICExtractName,TABLE
157,157,969,3,145834.0,50808,2101-10-22 04:31:00,1.12,1.12,mmol/L,NaN,...,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,1 days 09:23:00,Calcium ionized,LABEVENTS
158,158,1077,3,145834.0,50808,2101-10-23 02:46:00,1.19,1.19,mmol/L,NaN,...,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,2 days 07:38:00,Calcium ionized,LABEVENTS
159,159,1132,3,145834.0,50808,2101-10-23 10:14:00,1.11,1.11,mmol/L,abnormal,...,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,2 days 15:06:00,Calcium ionized,LABEVENTS
160,160,1160,3,145834.0,50808,2101-10-23 16:10:00,0.80,0.80,mmol/L,abnormal,...,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,2 days 21:02:00,Calcium ionized,LABEVENTS
161,161,584,3,145834.0,50808,2101-10-20 20:04:00,0.98,0.98,mmol/L,abnormal,...,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,0 days 00:56:00,Calcium ionized,LABEVENTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22244958,22244958,23110264,63320,105826.0,50822,2189-12-29 08:44:00,4.6,4.60,mEq/L,NaN,...,MARRIED,BLACK/AFRICAN AMERICAN,NaN,NaN,BLADDER TUMOR/SDA,0,0,0 days 01:29:00,Potassium,LABEVENTS
22244959,22244959,27254849,95129,133829.0,50822,2161-05-21 10:51:00,4.3,4.30,mEq/L,NaN,...,MARRIED,WHITE,NaN,NaN,RIGHT ORAL TONGUE CANCER/SDA,0,0,0 days 02:21:00,Potassium,LABEVENTS
22244960,22244960,27068015,93701,115270.0,50822,2178-01-08 07:21:00,4.3,4.30,mEq/L,NaN,...,WIDOWED,BLACK/AFRICAN AMERICAN,NaN,NaN,CHRONIC RENAL FAILURE/SDA,0,0,0 days 00:06:00,Potassium,LABEVENTS
22244987,22244987,25499792,81429,130919.0,51014,2169-02-08 00:30:00,58,58.00,mg/dL,NaN,...,MARRIED,WHITE,2169-02-07 18:53:00,2169-02-08 07:22:00,R/O SUBARACHNOID HEMORRHAGE,0,1,-1 days +19:23:00,"Glucose, CSF",LABEVENTS
22245023,22245023,11174330,18054,100572.0,51053,2158-04-24 11:42:00,71,71.00,mg/dL,NaN,...,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0,0 days 02:57:00,"Glucose, Pleural",LABEVENTS

In [133]:
labevents["HAS_CHARTEVENTS_DATA"].value_counts()

1    6644719
0      70882
Name: HAS_CHARTEVENTS_DATA, dtype: int64

In [134]:
labevents.columns

Index(['Unnamed: 0', 'ROW_ID_x', 'SUBJECT_ID_x', 'HADM_ID', 'ITEMID',
       'CHARTTIME', 'VALUE', 'VALUENUM', 'VALUEUOM', 'FLAG', 'ROW_ID_y',
       'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'ROW_ID', 'SUBJECT_ID_y',
       'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE',
       'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA',
       'LabTimeFromAdmit', 'MIMICExtractName', 'TABLE'],
      dtype='object')

In [135]:
patients = pd.read_csv(os.path.join(data, "mimiciii/1.4", "raw/PATIENTS.csv.gz"))
labevents = labevents.rename(columns={"SUBJECT_ID_x":"SUBJECT_ID"})
labevents = pd.merge(labevents, patients, how="inner", on="SUBJECT_ID")

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/2424521930.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ROW_ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  labevents = pd.merge(labevents, patients, how="inner", on="SUBJECT_ID")

In [136]:
labevents.columns

Index(['Unnamed: 0', 'ROW_ID_x', 'SUBJECT_ID', 'HADM_ID', 'ITEMID',
       'CHARTTIME', 'VALUE', 'VALUENUM', 'VALUEUOM', 'FLAG', 'ROW_ID_y',
       'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE', 'ROW_ID_x', 'SUBJECT_ID_y',
       'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE',
       'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA',
       'LabTimeFromAdmit', 'MIMICExtractName', 'TABLE', 'ROW_ID_y', 'GENDER',
       'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG'],
      dtype='object')

In [137]:
labevents["DOB"] = pd.to_datetime(labevents["DOB"])
labevents["ADMITTIME"] = pd.to_datetime(labevents["ADMITTIME"])

In [138]:
labevents['AGE'] = labevents.apply(lambda r: round((r['ADMITTIME'].to_pydatetime()-r['DOB'].to_pydatetime()).days/365, 0), axis=1)

In [139]:
labevents

,Unnamed: 0,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,...,MIMICExtractName,TABLE,ROW_ID_y,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE
0,157,969,3,145834.0,50808,2101-10-22 04:31:00,1.12,1.12,mmol/L,NaN,...,Calcium ionized,LABEVENTS,2,M,2025-04-11,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1,77.0
1,158,1077,3,145834.0,50808,2101-10-23 02:46:00,1.19,1.19,mmol/L,NaN,...,Calcium ionized,LABEVENTS,2,M,2025-04-11,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1,77.0
2,159,1132,3,145834.0,50808,2101-10-23 10:14:00,1.11,1.11,mmol/L,abnormal,...,Calcium ionized,LABEVENTS,2,M,2025-04-11,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1,77.0
3,160,1160,3,145834.0,50808,2101-10-23 16:10:00,0.80,0.80,mmol/L,abnormal,...,Calcium ionized,LABEVENTS,2,M,2025-04-11,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1,77.0
4,161,584,3,145834.0,50808,2101-10-20 20:04:00,0.98,0.98,mmol/L,abnormal,...,Calcium ionized,LABEVENTS,2,M,2025-04-11,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6715596,22244925,19819590,32662,169191.0,50884,2194-03-09 14:30:00,9.8,9.80,mg/dL,NaN,...,Bilirubin,LABEVENTS,30667,M,2194-03-07,NaN,NaN,NaN,0,0.0
6715597,22244927,6436764,10358,135827.0,51237,2195-05-11 14:15:00,1.0,1.00,NaN,NaN,...,Prothrombin time INR,LABEVENTS,9803,M,2131-03-17,2195-05-11 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,1,64.0
6715598,22244946,7910298,12703,144954.0,50811,2154-06-03 19:24:00,18.6,18.60,g/dL,abnormal,...,Hemoglobin,LABEVENTS,12021,M,2154-06-03,NaN,NaN,NaN,0,0.0
6715599,22244947,7910296,12703,144954.0,50809,2154-06-03 19:24:00,98,98.00,mg/dL,NaN,...,Glucose,LABEVENTS,12021,M,2154-06-03,NaN,NaN,NaN,0,0.0
6715600,22244987,25499792,81429,130919.0,51014,2169-02-08 00:30:00,58,58.00,mg/dL,NaN,...,"Glucose, CSF",LABEVENTS,41678,F,2117-07-13,NaN,NaN,NaN,0,52.0

In [ ]:
# 5453439 x 44

In [140]:
labevents[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'ROW_ID_x',
 'SUBJECT_ID',
 'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']].to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data_with_mimic_extract_names.csv"))

## Chartevents

In [156]:
# chartevents = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "CHARTEVENTS.csv.gz"))

In [120]:
res_paths = []
count = 0
with pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "CHARTEVENTS.csv.gz"), chunksize=50_000_000) as reader:
    for chunk in reader:
        print(count, chunk.shape)
        path = os.path.join(data, "mimiciii", "1.4","preprocessed", "CHARTEVENTS", f"chartevents_with_mimic_extract_{count}.csv.gz")
        chunk = chunk[chunk.ITEMID.isin(final_itemids_list)]
        t = chunk.apply(lambda r: final_mapping_lab_itemids[r["ITEMID"]], axis=1)
        if t.shape[0]>0:
            chunk["MIMICExtractName"] = t
            chunk.to_csv(path)
            print(count, chunk.shape)
            res_paths.append(path)
        else:
            print(count, 0)    
        count += 1

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/624336155.py:4: DtypeWarning: Columns (8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

0 (50000000, 15)
0 (2156084, 16)
1 (50000000, 15)
1 (1162200, 16)
2 (50000000, 15)
2 (1172793, 16)

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/624336155.py:4: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

3 (50000000, 15)
3 (1117499, 16)
4 (50000000, 15)
4 0

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/624336155.py:4: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

5 (50000000, 15)
5 0
6 (30712483, 15)
6 0

In [121]:
result = pd.concat([pd.read_csv(f) for f in res_paths], ignore_index=True)

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/4178487586.py:1: DtypeWarning: Columns (9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  result = pd.concat([pd.read_csv(f) for f in res_paths], ignore_index=True)

In [122]:
result["TABLE"] = result.apply(lambda r: "CHARTEVENTS", axis=1)

In [123]:
result

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED,MIMICExtractName,TABLE
0,13,801,36,165660,241249.0,225668,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,1.0,1.0,mmol/L,0.0,0.0,NaN,NaN,Lactic acid,CHARTEVENTS
1,58,846,36,165660,241249.0,225668,2134-05-12 15:22:00,2134-05-12 15:24:00,20889.0,0.7,0.7,mmol/L,0.0,0.0,NaN,NaN,Lactic acid,CHARTEVENTS
2,119,267,23,124321,234044.0,225664,2157-10-22 10:00:00,2157-10-22 09:56:00,20009.0,188.0,188.0,NaN,0.0,0.0,NaN,NaN,Glucose,CHARTEVENTS
3,208,31,23,124321,234044.0,220228,2157-10-21 14:40:00,2157-10-21 15:06:00,20889.0,13.1,13.1,g/dl,1.0,0.0,NaN,NaN,Hemoglobin,CHARTEVENTS
4,212,35,23,124321,234044.0,220615,2157-10-21 14:40:00,2157-10-21 15:53:00,20889.0,0.6,0.6,mg/dL,0.0,0.0,NaN,NaN,Creatinine,CHARTEVENTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608571,193776629,192829954,32775,128184,292368.0,811,2200-09-02 02:07:00,2200-09-02 03:14:00,15331.0,108,108.0,NaN,NaN,NaN,Final,NotStopd,Glucose,CHARTEVENTS
5608572,193776631,192829956,32775,128184,292368.0,814,2200-09-02 02:07:00,2200-09-02 02:44:00,15331.0,9.8999996185302734,9.9,gm/dl,NaN,NaN,Final,NotStopd,Hemoglobin,CHARTEVENTS
5608573,193776655,192830955,32775,128184,292368.0,807,2200-09-02 21:00:00,2200-09-02 20:51:00,17249.0,139,139.0,NaN,NaN,NaN,Manual,NotStopd,Glucose,CHARTEVENTS
5608574,193776666,192854410,32777,105007,202322.0,828,2113-10-12 11:38:00,2113-10-12 11:46:00,15331.0,131,131.0,NaN,NaN,NaN,Final,NotStopd,Platelets,CHARTEVENTS
5608575,193776672,192854416,32777,105007,202322.0,1530,2113-10-12 11:38:00,2113-10-12 12:10:00,15331.0,1.3,1.3,NaN,NaN,NaN,Final,NotStopd,Prothrombin time INR,CHARTEVENTS

In [124]:
result.MIMICExtractName.value_counts()

Glucose                      1579092
Potassium                     622193
Sodium                        573154
Creatinine                    501852
Calcium                       424526
Prothrombin time INR          334923
Platelets                     326437
Hemoglobin                    325151
Calcium ionized               228638
Lactic acid                   206119
Potassium serum               165813
Bilirubin                     155174
Alanine aminotransferase       79018
Asparate aminotransferase      78847
Fraction inspired oxygen        7639
Name: MIMICExtractName, dtype: int64

In [125]:
result.columns

Index(['Unnamed: 0', 'ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID',
       'CHARTTIME', 'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM',
       'WARNING', 'ERROR', 'RESULTSTATUS', 'STOPPED', 'MIMICExtractName',
       'TABLE'],
      dtype='object')

In [126]:
t_r = pd.merge(result, admits, how="inner", on="HADM_ID")

In [127]:
result = t_r.copy()

In [112]:
# chartevents[chartevents.isin(final_itemids_list)].to_csv(os.path.join(data, "mimiciii", "1.4","preprocessed", "CHARTEVENTS", "chartevents_with_mimic_extract.csv.gz"))
# chartevents["MIMICExtractName"] = chartevents.apply(lambda r: final_mapping_lab_itemids[r["ITEMID"]], axis=1)

In [141]:
result = result.rename(columns={"SUBJECT_ID_x":"SUBJECT_ID"})
result = pd.merge(result, patients, how="inner", on="SUBJECT_ID")

In [142]:
result.columns

Index(['Unnamed: 0', 'ROW_ID_x', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID',
       'ITEMID', 'CHARTTIME', 'STORETIME', 'CGID', 'VALUE', 'VALUENUM',
       'VALUEUOM', 'WARNING', 'ERROR', 'RESULTSTATUS', 'STOPPED',
       'MIMICExtractName', 'TABLE', 'ROW_ID_y', 'SUBJECT_ID_y', 'ADMITTIME',
       'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'ROW_ID', 'GENDER',
       'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG'],
      dtype='object')

In [143]:
result["DOB"] = pd.to_datetime(result["DOB"])
result["ADMITTIME"] = pd.to_datetime(result["ADMITTIME"])

In [144]:
result['AGE'] = result.apply(lambda r: round((r['ADMITTIME'].to_pydatetime()-r['DOB'].to_pydatetime()).days/365, 0), axis=1)

In [145]:
result

,Unnamed: 0,ROW_ID_x,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,...,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE
0,13,801,36,165660,241249.0,225668,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,1.0,...,0,1,32,M,2061-08-17,NaN,NaN,NaN,0,73.0
1,58,846,36,165660,241249.0,225668,2134-05-12 15:22:00,2134-05-12 15:24:00,20889.0,0.7,...,0,1,32,M,2061-08-17,NaN,NaN,NaN,0,73.0
2,505,720,36,165660,241249.0,220228,2134-05-12 08:33:00,2134-05-12 09:36:00,20889.0,12.7,...,0,1,32,M,2061-08-17,NaN,NaN,NaN,0,73.0
3,509,724,36,165660,241249.0,220615,2134-05-12 08:33:00,2134-05-12 10:01:00,20889.0,0.9,...,0,1,32,M,2061-08-17,NaN,NaN,NaN,0,73.0
4,510,725,36,165660,241249.0,220621,2134-05-12 08:33:00,2134-05-12 10:01:00,20889.0,126.0,...,0,1,32,M,2061-08-17,NaN,NaN,NaN,0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608571,193776666,192854410,32777,105007,202322.0,828,2113-10-12 11:38:00,2113-10-12 11:46:00,15331.0,131,...,0,1,30771,M,2039-11-04,NaN,NaN,NaN,0,74.0
5608572,193776672,192854416,32777,105007,202322.0,1530,2113-10-12 11:38:00,2113-10-12 12:10:00,15331.0,1.3,...,0,1,30771,M,2039-11-04,NaN,NaN,NaN,0,74.0
5608573,193243859,192872160,32782,192581,201335.0,3745,2179-10-03 12:55:00,2179-10-03 13:27:00,18389.0,58,...,0,1,30775,M,2179-10-03,NaN,NaN,NaN,0,0.0
5608574,193723972,192863311,32780,100455,287347.0,3745,2195-10-02 16:00:00,2195-10-02 16:41:00,14295.0,93,...,0,1,30773,F,2195-10-02,NaN,NaN,NaN,0,0.0
5608575,193770415,192872294,32784,131855,243928.0,3745,2196-11-08 21:55:00,2196-11-08 22:17:00,16426.0,58,...,0,1,30777,M,2196-11-08,NaN,NaN,NaN,0,0.0

In [146]:
result.columns

Index(['Unnamed: 0', 'ROW_ID_x', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID',
       'ITEMID', 'CHARTTIME', 'STORETIME', 'CGID', 'VALUE', 'VALUENUM',
       'VALUEUOM', 'WARNING', 'ERROR', 'RESULTSTATUS', 'STOPPED',
       'MIMICExtractName', 'TABLE', 'ROW_ID_y', 'SUBJECT_ID_y', 'ADMITTIME',
       'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'ROW_ID', 'GENDER',
       'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG', 'AGE'],
      dtype='object')

In [147]:
result[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'ROW_ID_x',
 'SUBJECT_ID',
 'SUBJECT_ID_y',
 'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']].to_csv(os.path.join(data, "mimiciii", "1.4","preprocessed", "CHARTEVENTS", "chartevents_with_mimic_extract_lab.csv.gz"))

In [148]:
t_r = result[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'SUBJECT_ID',
#  'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']]

t_l = labevents[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'SUBJECT_ID',
#  'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']]

In [149]:
t_l[["HAS_CHARTEVENTS_DATA"]].value_counts()

HAS_CHARTEVENTS_DATA
1                       6644719
0                         70882
dtype: int64

In [150]:
t_r[["HAS_CHARTEVENTS_DATA"]].value_counts()

HAS_CHARTEVENTS_DATA
1                       5608576
dtype: int64

In [120]:
# pd.merge(t_l[t_l["HAS_CHARTEVENTS_DATA"]==1], t_r[t_r["HAS_CHARTEVENTS_DATA"]==1], how="inner")

Empty DataFrame
Columns: [ADMISSION_LOCATION, ADMISSION_TYPE, ADMITTIME, AGE, CHARTTIME, DEATHTIME, DIAGNOSIS, DISCHARGE_LOCATION, DISCHTIME, DOB, DOD, DOD_HOSP, DOD_SSN, EDOUTTIME, EDREGTIME, ETHNICITY, EXPIRE_FLAG, GENDER, HADM_ID, HAS_CHARTEVENTS_DATA, HOSPITAL_EXPIRE_FLAG, INSURANCE, ITEMID, LANGUAGE, MARITAL_STATUS, MIMICExtractName, RELIGION, SUBJECT_ID, VALUE, VALUENUM, VALUEUOM]
Index: []

[0 rows x 31 columns]

In [151]:
t_c_l = pd.concat([t_l, t_r]).drop_duplicates(keep="first")

In [152]:
t_c_l = t_c_l[t_c_l["AGE"]<100]
t_c_l = t_c_l[t_c_l["AGE"]>0]
t_c_l

,ADMISSION_LOCATION,ADMISSION_TYPE,ADMITTIME,AGE,CHARTTIME,DEATHTIME,DIAGNOSIS,DISCHARGE_LOCATION,DISCHTIME,DOB,...,INSURANCE,ITEMID,LANGUAGE,MARITAL_STATUS,MIMICExtractName,RELIGION,SUBJECT_ID,VALUE,VALUENUM,VALUEUOM
0,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-22 04:31:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,1.12,1.12,mmol/L
1,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-23 02:46:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,1.19,1.19,mmol/L
2,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-23 10:14:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,1.11,1.11,mmol/L
3,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-23 16:10:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,0.80,0.80,mmol/L
4,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-20 20:04:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,0.98,0.98,mmol/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608568,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:32:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04,...,Self Pay,1536,ENGL,MARRIED,Sodium,PROTESTANT QUAKER,32777,138,138.00,NaN
5608569,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:38:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04,...,Self Pay,814,ENGL,MARRIED,Hemoglobin,PROTESTANT QUAKER,32777,10.699999809265137,10.70,gm/dl
5608570,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:38:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04,...,Self Pay,815,ENGL,MARRIED,Prothrombin time INR,PROTESTANT QUAKER,32777,1.3,1.30,NaN
5608571,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:38:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04,...,Self Pay,828,ENGL,MARRIED,Platelets,PROTESTANT QUAKER,32777,131,131.00,NaN
5608572,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:38:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04,...,Self Pay,1530,ENGL,MARRIED,Prothrombin time INR,PROTESTANT QUAKER,32777,1.3,1.30,NaN

In [153]:
final_labs = t_c_l.groupby(["HADM_ID", "ADMITTIME", "CHARTTIME", "VALUENUM", "MIMICExtractName"]).nth(0).reset_index()

In [154]:
final_labs = final_labs.dropna(subset=['VALUENUM'])

In [155]:
final_labs

,HADM_ID,ADMITTIME,CHARTTIME,VALUENUM,MIMICExtractName,ADMISSION_LOCATION,ADMISSION_TYPE,AGE,DEATHTIME,DIAGNOSIS,...,HAS_CHARTEVENTS_DATA,HOSPITAL_EXPIRE_FLAG,INSURANCE,ITEMID,LANGUAGE,MARITAL_STATUS,RELIGION,SUBJECT_ID,VALUE,VALUEUOM
0,100001.0,2117-09-11 11:46:00,2117-09-11 08:22:00,0.5,Bilirubin,CLINIC REFERRAL/PREMATURE,EMERGENCY,35.0,NaN,DIABETIC KETOACIDOSIS,...,1,0,Private,50885,ENGL,DIVORCED,PROTESTANT QUAKER,58526,0.5,mg/dL
1,100001.0,2117-09-11 11:46:00,2117-09-11 08:22:00,2.7,Creatinine,CLINIC REFERRAL/PREMATURE,EMERGENCY,35.0,NaN,DIABETIC KETOACIDOSIS,...,1,0,Private,50912,ENGL,DIVORCED,PROTESTANT QUAKER,58526,2.7,mg/dL
2,100001.0,2117-09-11 11:46:00,2117-09-11 08:22:00,4.9,Potassium,CLINIC REFERRAL/PREMATURE,EMERGENCY,35.0,NaN,DIABETIC KETOACIDOSIS,...,1,0,Private,50971,ENGL,DIVORCED,PROTESTANT QUAKER,58526,4.9,mEq/L
3,100001.0,2117-09-11 11:46:00,2117-09-11 08:22:00,10.0,Alanine aminotransferase,CLINIC REFERRAL/PREMATURE,EMERGENCY,35.0,NaN,DIABETIC KETOACIDOSIS,...,1,0,Private,50861,ENGL,DIVORCED,PROTESTANT QUAKER,58526,10,IU/L
4,100001.0,2117-09-11 11:46:00,2117-09-11 08:22:00,13.0,Hemoglobin,CLINIC REFERRAL/PREMATURE,EMERGENCY,35.0,NaN,DIABETIC KETOACIDOSIS,...,1,0,Private,51222,ENGL,DIVORCED,PROTESTANT QUAKER,58526,13.0,g/dL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8422808,199999.0,2136-04-04 23:37:00,2136-04-10 02:28:00,12.6,Hemoglobin,CLINIC REFERRAL/PREMATURE,EMERGENCY,88.0,NaN,PNEUMONIA,...,1,0,Medicare,220228,ENGL,MARRIED,JEWISH,40370,12.6,g/dl
8422809,199999.0,2136-04-04 23:37:00,2136-04-10 02:28:00,114.0,Glucose,CLINIC REFERRAL/PREMATURE,EMERGENCY,88.0,NaN,PNEUMONIA,...,1,0,Medicare,220621,ENGL,MARRIED,JEWISH,40370,114.0,mg/dL
8422810,199999.0,2136-04-04 23:37:00,2136-04-10 02:28:00,138.0,Sodium,CLINIC REFERRAL/PREMATURE,EMERGENCY,88.0,NaN,PNEUMONIA,...,1,0,Medicare,220645,ENGL,MARRIED,JEWISH,40370,138.0,mEq/L
8422811,199999.0,2136-04-04 23:37:00,2136-04-10 02:28:00,539.0,Platelets,CLINIC REFERRAL/PREMATURE,EMERGENCY,88.0,NaN,PNEUMONIA,...,1,0,Medicare,227457,ENGL,MARRIED,JEWISH,40370,539.0,K/uL
8422812,199999.0,2136-04-04 23:37:00,2136-04-10 10:00:00,143.0,Glucose,CLINIC REFERRAL/PREMATURE,EMERGENCY,88.0,NaN,PNEUMONIA,...,1,0,Medicare,225664,ENGL,MARRIED,JEWISH,40370,143.0,NaN

In [156]:
final_labs.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data_mimic_extract_1.csv"))

In [157]:
final_labs.columns

Index(['HADM_ID', 'ADMITTIME', 'CHARTTIME', 'VALUENUM', 'MIMICExtractName',
       'ADMISSION_LOCATION', 'ADMISSION_TYPE', 'AGE', 'DEATHTIME', 'DIAGNOSIS',
       'DISCHARGE_LOCATION', 'DISCHTIME', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN',
       'EDOUTTIME', 'EDREGTIME', 'ETHNICITY', 'EXPIRE_FLAG', 'GENDER',
       'HAS_CHARTEVENTS_DATA', 'HOSPITAL_EXPIRE_FLAG', 'INSURANCE', 'ITEMID',
       'LANGUAGE', 'MARITAL_STATUS', 'RELIGION', 'SUBJECT_ID', 'VALUE',
       'VALUEUOM'],
      dtype='object')