In [2]:
data = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data"

In [3]:
import pandas as pd
import os

In [4]:
admits = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "ADMISSIONS.csv.gz"))

In [5]:
admits['SUBJECT_ID'].unique().shape

(46520,)

In [7]:
inputevents_mv = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "INPUTEVENTS_MV.csv.gz"))

In [8]:
inputevents_mv

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,ml,0,0,1,Rewritten,NaN,RN,2133-02-05 12:52:00,10.000000,0.050000
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,28.132998,30.255817
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,2.813300,0.050426
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,1.000000,1.000000
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618986,3568968,90959,136680,240741.0,2147-08-28 12:00:00,2147-08-28 12:01:00,221744,99.999997,mcg,NaN,...,NaN,0,0,0,FinishedRunning,NaN,NaN,NaN,100.000000,100.000000
3618987,3568969,90959,136680,240741.0,2147-08-29 12:16:00,2147-08-29 15:04:00,225942,0.842267,mg,300.809532,...,ml,0,0,0,Paused,NaN,NaN,NaN,2.500000,300.000000
3618988,3568970,90959,136680,240741.0,2147-08-29 12:16:00,2147-08-29 15:04:00,225943,16.845331,ml,6.016190,...,ml,0,0,0,Paused,NaN,NaN,NaN,50.000000,6.000000
3618989,3568971,90959,136680,240741.0,2147-08-29 02:30:00,2147-08-29 02:31:00,221744,99.999997,mcg,NaN,...,NaN,0,0,0,FinishedRunning,NaN,NaN,NaN,100.000000,100.000000
3618990,3568972,90959,136680,240741.0,2147-08-28 06:00:00,2147-08-28 07:01:00,222168,328.081149,mg,56.024786,...,ml,0,0,0,Changed,NaN,NaN,NaN,995.000120,56.042786

In [9]:
inputevents_mv = pd.merge(inputevents_mv, admits, how="inner", on="HADM_ID")

In [10]:
inputevents_mv

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,Medicare,ENGL,CATHOLIC,MARRIED,UNABLE TO OBTAIN,NaN,NaN,BILIARY COLIC;OBSTRUCTIVE JAUNDICE,0,1
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,Medicare,ENGL,CATHOLIC,MARRIED,UNABLE TO OBTAIN,NaN,NaN,BILIARY COLIC;OBSTRUCTIVE JAUNDICE,0,1
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,Medicare,ENGL,CATHOLIC,MARRIED,UNABLE TO OBTAIN,NaN,NaN,BILIARY COLIC;OBSTRUCTIVE JAUNDICE,0,1
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,Medicare,ENGL,CATHOLIC,MARRIED,UNABLE TO OBTAIN,NaN,NaN,BILIARY COLIC;OBSTRUCTIVE JAUNDICE,0,1
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,Medicare,ENGL,CATHOLIC,MARRIED,UNABLE TO OBTAIN,NaN,NaN,BILIARY COLIC;OBSTRUCTIVE JAUNDICE,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618986,3565320,68807,136015,278608.0,2146-09-23 12:00:00,2146-09-23 12:01:00,225158,500.000000,ml,NaN,...,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2146-09-23 01:29:00,2146-09-23 09:23:00,S/P FALL,0,1
3618987,3565321,68807,136015,278608.0,2146-09-24 08:36:00,2146-09-24 08:37:00,226452,360.000000,ml,NaN,...,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2146-09-23 01:29:00,2146-09-23 09:23:00,S/P FALL,0,1
3618988,3565322,68807,136015,278608.0,2146-09-23 17:29:00,2146-09-23 17:30:00,226452,60.000000,ml,NaN,...,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2146-09-23 01:29:00,2146-09-23 09:23:00,S/P FALL,0,1
3618989,3565323,68807,136015,278608.0,2146-09-24 08:41:00,2146-09-24 08:42:00,227694,1.000000,dose,NaN,...,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2146-09-23 01:29:00,2146-09-23 09:23:00,S/P FALL,0,1
3618990,3565324,68807,136015,278608.0,2146-09-23 10:56:00,2146-09-23 10:57:00,225154,2.000000,mg,NaN,...,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2146-09-23 01:29:00,2146-09-23 09:23:00,S/P FALL,0,1

In [11]:
def change_col_to_datetime(inputevents_mv, feature):
    inputevents_mv[feature] = pd.to_datetime(inputevents_mv[feature])
    return inputevents_mv
inputevents_mv = change_col_to_datetime(inputevents_mv, 'ADMITTIME')
inputevents_mv = change_col_to_datetime(inputevents_mv, 'ENDTIME')
inputevents_mv = change_col_to_datetime(inputevents_mv, 'STARTTIME')
inputevents_mv['MedTimeFromAdmit'] = inputevents_mv['ENDTIME']-inputevents_mv['ADMITTIME']

In [12]:
med_data = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "D_ITEMS.csv.gz"))

In [13]:
med_data = med_data[med_data["DBSOURCE"]=="metavision"]

In [14]:
inputevents_mv = pd.merge(inputevents_mv, med_data, how="inner", on="ITEMID")

In [26]:
inputevents_mv

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ROW_ID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,13765,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,16 days 13:31:00
1,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,13765,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,16 days 11:16:00
2,247,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 07:03:00,225166,4.433333,mEq,NaN,...,13765,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,16 days 11:49:00
3,249,27063,139787,223259.0,2133-02-05 09:43:00,2133-02-05 12:30:00,225166,8.360021,mEq,NaN,...,13765,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,16 days 17:16:00
4,251,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 05:35:00,225166,0.050060,mEq,NaN,...,13765,Potassium Chloride,Potassium Chloride - KCL,metavision,inputevents_mv,Medications,mEq,Solution,NaN,16 days 10:21:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618986,3591311,46156,127108,258962.0,2134-08-21 02:00:00,2134-08-21 06:58:00,228361,49.666668,ml,10.000000,...,15490,Pulmocare (1/4),Pulmocare (1/4),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,4 days 14:21:00
3618987,3588947,60353,111636,248214.0,2137-09-08 10:30:00,2137-09-08 17:00:00,228141,65.000001,ml,10.000000,...,15332,Dextrose 30%,Dextrose 30%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 17:32:00
3618988,3589021,60353,111636,248214.0,2137-09-08 20:00:00,2137-09-09 02:36:00,228141,59.414343,ml,9.002173,...,15332,Dextrose 30%,Dextrose 30%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,1 days 03:08:00
3618989,3588965,60353,111636,248214.0,2137-09-08 19:00:00,2137-09-08 20:00:00,228141,8.001279,ml,8.001279,...,15332,Dextrose 30%,Dextrose 30%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 20:32:00
3618990,3588921,60353,111636,248214.0,2137-09-08 17:00:00,2137-09-08 19:00:00,228141,18.000001,ml,9.000001,...,15332,Dextrose 30%,Dextrose 30%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 19:32:00

In [27]:
inputevents_mv.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med_patient_data.csv"))

In [28]:
inputevents_mv.describe()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ICUSTAY_ID,ITEMID,AMOUNT,RATE,CGID,ORDERID,LINKORDERID,...,CANCELREASON,ORIGINALAMOUNT,ORIGINALRATE,ROW_ID_y,SUBJECT_ID_y,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID,CONCEPTID,MedTimeFromAdmit
count,3.618991e+06,3.618991e+06,3.618991e+06,3.617827e+06,3.618991e+06,3.618991e+06,2.042852e+06,3.618991e+06,3.618991e+06,3.618991e+06,...,3.618991e+06,3.618991e+06,3.618991e+06,3.618991e+06,3.618991e+06,3.618991e+06,3618991.0,3.618991e+06,0.0,3618991
mean,1.809496e+06,6.357831e+04,1.501255e+05,2.496841e+05,2.242455e+05,2.189589e+02,8.941301e+01,1.752356e+04,4.999340e+06,5.002587e+06,...,1.707343e-01,3.414276e+02,8.725674e+01,4.627655e+04,6.357831e+04,2.166200e-01,1.0,1.367163e+04,NaN,8 days 07:45:10.654826166
std,1.044713e+06,2.324979e+04,2.870411e+04,2.880386e+04,2.138378e+03,1.433101e+03,3.311696e+03,2.174020e+03,2.886804e+06,2.888102e+06,...,5.285223e-01,7.675057e+03,2.605462e+03,1.046868e+04,2.324979e+04,4.119416e-01,0.0,6.488034e+02,NaN,11 days 12:01:05.610358477
min,1.000000e+00,2.300000e+01,1.000010e+05,2.000010e+05,2.208620e+05,-5.250000e+05,-9.060000e+02,1.402300e+04,2.000000e+00,2.000000e+00,...,0.000000e+00,-1.058330e+02,-8.785455e+02,2.300000e+01,2.300000e+01,0.000000e+00,1.0,1.286000e+04,NaN,-2 days +12:37:00
25%,9.047485e+05,4.887200e+04,1.255210e+05,2.245930e+05,2.219060e+05,2.000000e+00,4.012852e+00,1.565400e+04,2.499702e+06,2.497315e+06,...,0.000000e+00,1.000000e+01,1.000000e+00,4.259000e+04,4.887200e+04,0.000000e+00,1.0,1.298400e+04,NaN,1 days 14:04:00
50%,1.809496e+06,6.537000e+04,1.503240e+05,2.502850e+05,2.251580e+05,2.798783e+01,1.800720e+01,1.724900e+04,4.997277e+06,4.999979e+06,...,0.000000e+00,6.076326e+01,1.000000e+01,4.793000e+04,6.537000e+04,0.000000e+00,1.0,1.375800e+04,NaN,4 days 12:01:00
75%,2.714244e+06,8.206500e+04,1.752010e+05,2.743260e+05,2.259420e+05,1.000000e+02,5.000000e+01,1.956100e+04,7.500282e+06,7.506212e+06,...,0.000000e+00,2.000000e+02,5.000000e+01,5.331100e+04,8.206500e+04,0.000000e+00,1.0,1.422400e+04,NaN,10 days 09:57:00
max,3.618991e+06,9.999900e+04,1.999990e+05,2.999980e+05,2.283830e+05,1.000150e+06,2.424000e+06,2.154500e+04,1.000000e+07,1.000000e+07,...,2.000000e+00,9.999999e+06,2.424000e+06,5.897600e+04,9.999900e+04,1.000000e+00,1.0,1.551200e+04,NaN,483 days 10:14:00

In [17]:
def transform_column(col):
    return pd.to_datetime(col)
def gen_cols(med_pat):
    cols = ['STARTTIME', 'ENDTIME', 'ADMITTIME']
    for col in cols:
        med_pat[col] = transform_column(med_pat[col])
    med_pat.drop(columns=["MedTimeFromAdmit"])
    med_pat['MedTimeFromAdmit'] = med_pat['ENDTIME']-med_pat['ADMITTIME']
    return med_pat

In [11]:
med_pat = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med_patient_data.csv"))

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_22913/2839567989.py:1: DtypeWarning: Columns (12,18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  med_pat = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med_patient_data.csv"))

In [18]:
med_pat = gen_cols(med_pat)

In [12]:
med_pat.dtypes

Unnamed: 0.1          int64
Unnamed: 0            int64
ROW_ID_x              int64
SUBJECT_ID_x          int64
HADM_ID               int64
                     ...
CATEGORY             object
UNITNAME             object
PARAM_TYPE           object
CONCEPTID           float64
MedTimeFromAdmit     object
Length: 61, dtype: object

In [5]:
med_pat.columns

Index(['Unnamed: 0', 'ROW_ID_x', 'SUBJECT_ID_x', 'HADM_ID', 'ICUSTAY_ID',
       'STARTTIME', 'ENDTIME', 'ITEMID', 'AMOUNT', 'AMOUNTUOM', 'RATE',
       'RATEUOM', 'STORETIME', 'CGID', 'ORDERID', 'LINKORDERID',
       'ORDERCATEGORYNAME', 'SECONDARYORDERCATEGORYNAME',
       'ORDERCOMPONENTTYPEDESCRIPTION', 'ORDERCATEGORYDESCRIPTION',
       'PATIENTWEIGHT', 'TOTALAMOUNT', 'TOTALAMOUNTUOM', 'ISOPENBAG',
       'CONTINUEINNEXTDEPT', 'CANCELREASON', 'STATUSDESCRIPTION',
       'COMMENTS_EDITEDBY', 'COMMENTS_CANCELEDBY', 'COMMENTS_DATE',
       'ORIGINALAMOUNT', 'ORIGINALRATE', 'ROW_ID_y', 'SUBJECT_ID_y',
       'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE',
       'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'ROW_ID',
       'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO', 'CATEGORY', 'UNITNAME',
       'PARAM_TYPE', 'CONCEPTID', 'MedTimeFromAdmit'],
      dtype='object')

In [10]:
med_pat.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med_patient_data.csv"))